<!-- Filename: NavBar.razor
Part of Project:-- PLOT
File Purpose:
Create a component to display a NavBar on the top of the page for moving throughout
the application

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Luke Wollenweber (3/13/2025)
Updated: Luke Wollenweber (3/22/2025)-->
@inject IJSRuntime JS
@inject NavigationManager Navigation

<div class="NavBar @Class" id="@Id">
    <nav class="nav flex-row">
        <div class="nav-item px-3">
            <a class="nav-link" href="/store-dashboard">
                Stores <i class="fa-solid fa-bag-shopping"></i>
            </a>
       </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/user-dashboard" >
                Users <i class="fa-solid fa-shirt"></i>
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#helpModal" @onclick="RemoveBackground">
                Help <i class="fa-solid fa-question"></i>
            </a>
        </div>
        <div class="nav-item px-3 ml-auto">
            <a class="nav-link" href="/logout" >
                Logout 
            </a>
        </div>
    </nav>
</div>

<Modal Title="Help Page" Id="helpModal" Class="modal-dialog">
    <BodyContent>
        <h4>HELP</h4>
        <p>loreum ipsum</p>
    </BodyContent>

    <FooterContent>
    </FooterContent>
</Modal>

<script>
    function hideBackground() 
    {
        document.querySelectorAll('.modal-backdrop')?.forEach(m=>m.remove());  
    }
</script>

@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Class { get; set; }

    private async Task RemoveBackground()
    {
        await JS.InvokeVoidAsync("hideBackground");
    }
}
