<!-- Filename: NavBar.razor
Part of Project:-- PLOT
File Purpose:
Create a component to display a NavBar on the top of the page for moving throughout
the application

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Luke Wollenweber (3/13/2025)-->
<div class="NavBar @Class" id="@Id">
    <nav class="nav flex-row">
        @if (ShowStores)
        {
            <div class="nav-item px-3">
                <a class="nav-link" onclick="window.location.href='/stores'">
                    Stores <i class="fa-solid fa-bag-shopping"></i>
                </a>
            </div>
        }

        @if (ShowUsers)
        {
            <div class="nav-item px-3">
                <a class="nav-link" onclick="window.location.href='/users'" >
                    Users <i class="fa-solid fa-shirt"></i>
                </a>
            </div>
        }

        @if (ShowHelp)
        {
            @* <div class="nav-item px-3">
                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#helpModal">
                    Help <i class="fa-solid fa-question"></i>
                </a>
            </div> *@
        }

        @if (ShowLogout)
        {
            @* <div class="nav-item px-3 ml-auto">
                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#logoutModal">
                    Logout
                </a>
            </div> *@
        }
    </nav>
</div>

@* <ModalDialog Title="Help Page" ModalID="helpModal" ModalLabel="helpModalLabel" ModalSize="">
    <BodyContent>
        <h4>HELP</h4>
        <p>loreum ipsum</p>
    </BodyContent>

    <FooterContent>
        <button id="help" type="button" class="btn cancel-red text-white" data-bs-dismiss="modal">Close</button>
    </FooterContent>
</ModalDialog>

<ModalDialog Title="Confirm Logout" ModalID="logoutModal" ModalLabel="logoutModalLabel" ModalSize="">
    <BodyContent>
        
    </BodyContent>

    <FooterContent>
        <button id="close" type="button" class="btn cancel-red text-white" data-bs-dismiss="modal">Close</button>
        <button id="logout" type="button" class="btn platos-blue text-white" onclick="window.location.href='/'">Yes, Logout</button>
    </FooterContent>
</ModalDialog> *@

@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Class { get; set; }

    // Control visibility of the navigation items
    [Parameter]
    public bool ShowStores { get; set; } = true;

    [Parameter]
    public bool ShowUsers { get; set; } = true;

    [Parameter]
    public bool ShowHelp { get; set; } = true;

    [Parameter]
    public bool ShowLogout { get; set; } = true;
}
