/* Ensure no background or borders for nav items */
.nav-item {
    background: none;
    border: none;
    color: white; /* Set text color */
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-size: 0.9rem;
    height: 100%;
}

.nav-item.ml-auto {
    margin-left: auto;
    justify-content: flex-end; /* Push this item to the far right */
}

.platos-blue {
    background-color: #489b97;
}

.cancel-red {
    background-color: #EF4444;
}

/* Style for NavLink */
.nav-link {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;  /* Text color */
    padding-right: 1rem;
    text-decoration: none; /* Remove default underline from links */
}
.nav.flex-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fa {
    position: relative;
    z-index: 1000;  /* Ensure icons are always on top */
  }

/* Style for icons inside NavLink */
.nav-link i {
    margin-left: 0.5rem; /* Space between text and icon */
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    color: white;
}

/* Remove focus outline from button or link when clicked or focused */
.nav-item button:focus, .nav-link:focus {
    outline: none; /* Remove blue outline */
}

/* Hover state for nav links and buttons */
.nav-item button:hover, .nav-link:hover {
    background-color: rgba(80, 80, 80, 0.37); /* Optional hover effect */
    color: white; /* Ensure text stays white on hover */
}
a {
    cursor: pointer;
    color: white;
}

/* Reset styles for nav-scrollable to ensure no background or border */
.Class {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    background: none;
    border: none;
}

.nav-link:focus,
.nav-link:active {
    color: white; /* Ensure text remains white even when clicked or focused */
    outline: none; /* Optional: Remove the outline for better styling */
}
