@* Michael Polhill - 4/2/2025 *@
@page "/password-reset-request"
@using Plot.Data.Models.Auth.ResetPassword

@inject NavigationManager Navigation
@inject AuthHttpClient AuthHttpClient

<PageTitle>Password Reset Request</PageTitle>

<body class="background">
    <div class="passwordResetRequest">
        <EditForm Model="PasswordResetRequestModel" class="body-content">
            <img src="img/PlatoLogo.png" alt="Plato's closet logo">
            <h4>Forgot your password?</h4>
            <p>Enter your email to receive a password reset link</p>
            <label>
                Email:
                <InputText id="email" type="text" @bind-Value="PasswordResetRequestModel!.EMAIL" Class="masked" />
            </label>
            <div class="button-container">
                <Button Class="Button" Id="buttonEmail" Variant="primary" OnClickFunction="SendResetEmail"
                    IsDisabled=false TextAlignment="center">
                    Send Reset Email
                </Button>
                <Button Class="Button" Id="buttonNavigateLogin" Variant="primary" OnClickFunction="NavigateToLogin"
                    IsDisabled=false TextAlignment="center">
                    Return To Login
                </Button>
            </div>
        </EditForm>
    </div>
</body>

@code
{
    [SupplyParameterFromForm]
    private Data.Models.Auth.ResetPassword.ResetPasswordRequest? PasswordResetRequestModel { get; set; }

    protected override void OnInitialized()
    {
        PasswordResetRequestModel ??= new();
    }

    private async void SendResetEmail()
    {
        if (PasswordResetRequestModel != null)
        {
            Console.WriteLine(PasswordResetRequestModel);

            var httpResponseCode = await AuthHttpClient.ResetPasswordRequest(PasswordResetRequestModel);

            NavigateToLogin();
        }
    }

    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/login", forceLoad: true);
    }
}