@* Michael Polhill - 4/2/2025
    Filename: PasswordResetRequest.razor
    Part of Project: PLOT/PLOT-FE/Components/Pages/PasswordResetRequest

    File Purpose:
    This file contains a the Password reset Request page implementation
    to search for a user via email and send them a password reset email.

    
    Updated-Michael Polhill
 *@


@page "/password-reset-request"
@attribute [AllowAnonymous]
@inject NavigationManager Navigation
@inject AuthHttpClient AuthHttpClient
@layout Plot.Components.Layout.LoginLayout
@inject ToastService ToastService

@using Plot.Services
@using Plot.Data.Models.Auth.ResetPassword
@using Microsoft.AspNetCore.Authorization

<PageTitle>Password Reset Request</PageTitle>

<body class="background">
    <div class="bg-white p-5 rounded-2">
        <EditForm class="d-flex flex-column gap-3" Model="PasswordResetRequestModel"
            OnValidSubmit="OnPasswordResetSubmit">
            <DataAnnotationsValidator />
            <img src="img/PlatoLogo.png" alt="Plato's closet logo">
            <h4>Forgot your password?</h4>
            <p>Enter your email to receive a password reset link</p>
            <div class="input-group">
                <label class="form-label w-100">
                    Email:
                    <InputText class="form-control" id="email" type="text"
                        @bind-Value="PasswordResetRequestModel!.EMAIL" />
                </label>
                <div class="invalid-feedback d-block">
                    <ValidationMessage For="() => PasswordResetRequestModel!.EMAIL" />
                </div>
            </div>
            <Button Variant="primary" TextAlignment="center" type="submit">
                Send Reset Email
            </Button>
            <a class="btn btn-primary" href="/login">
                Return To Login
            </a>
        </EditForm>
    </div>
</body>

@code
{
    //Model for the password reset request form
    [SupplyParameterFromForm]
    private Data.Models.Auth.ResetPassword.ResetPasswordRequest? PasswordResetRequestModel { get; set; }


    /// <summary>
    /// Handles the initialization of the page. This is where we set up the model 
    /// for the password reset request form.
    /// </summary>
    protected override void OnInitialized()
    {
        PasswordResetRequestModel ??= new();
    }


    /// <summary>
    /// Handles the submission of the password reset request form. This is where the model 
    /// password reset request to the server and show a success message.
    /// Show a success message regardless if email is sent, protect against email enumeration.
    /// </summary>
    private async Task OnPasswordResetSubmit()
    {
        if (PasswordResetRequestModel == null)
        {
            ToastService.ShowError("There was an error sending the password reset email!");
            return;
        }

        // Send the password reset request to the server
        await AuthHttpClient.ResetPasswordRequest(PasswordResetRequestModel);

        ToastService.ShowSuccess($"A password reset email was sent to {PasswordResetRequestModel.EMAIL}.");
    }
}