@page "/password-reset-request"

@inject NavigationManager Navigation

<PageTitle>Password reset request</PageTitle>

<body class="background">
    <div class="passwordResetRequest">
        <div class="body-content">
            <img src="img/PlatoLogo.png" alt="Plato's closet logo">
            <h4>Forgot your password?</h4>
            <p>Enter your email to receive a password reset link</p>
            <TextInput Id="email" Type="text" Label="Email" Placeholder="" Value="@email"
                ValueChanged="@(e => email = e)" />
            <div class="button-container">
                <Button Class="Button" Id="buttonEmail" Variant="primary" OnClickFunction="SendResetEmail" IsDisabled=false
                    TextAlignment="center">
                    Send Reset Email
                </Button>
                <Button Class="Button" Id="buttonNavigateLogin" Variant="primary" OnClickFunction="NavigateToLogin" IsDisabled=false
                    TextAlignment="center">
                    Return To Login
                </Button>
            </div>
        </div>
    </div>
</body>

@code
{
    string email = ""; // Define the email variable

    private void SendResetEmail()
    {

    }

    private void NavigateToLogin()
    {
        
        Navigation.NavigateTo("/login", forceLoad: true);
    }
}
