<head>
    <script src="https://kit.fontawesome.com/b9b256c8f6.js" crossorigin="anonymous"></script>
</head>

<div class="nav-scrollable" id="@NavBarID" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-row">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stores">
                Stores <i class="fa-solid fa-bag-shopping"></i>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                Users <i class="fa-solid fa-shirt"></i>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="help">
                Help <i class="fa-solid fa-question"></i>
            </NavLink>
        </div>
        <div class="nav-item px-3 ml-auto">
            <NavLink class="nav-link" href="logout">
                Logout <span aria-hidden="true"></span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [Parameter]
    public string NavBarID { get; set; }
}
