.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: #1EA6A1;
    top: 50%; /* Position it vertically in the center */
    display: flex;
    transform: translateY(-50%); /* Adjust to perfectly center */
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center; /* Center the items vertically */
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item.ml-auto {
    margin-left: auto; /* Push this item to the far right */
    width: 100%; /* Ensures the item takes up the full width */
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 2rem;
    width: 100%;
}

.nav-scrollable {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

.navbar-toggler:checked {
    background-color: rgba(255, 255, 255, 0.5);
}

/* .top-row {
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
    display: flex; 
    align-items: center; 
} */

.navbar-brand {
    font-size: 1.1rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    /* margin-right: 0.75rem; */
    top: -1px;
    background-size: cover;
}

.bi-store-nav-menu {
    background-image: url("../Images/store.png");
}

.bi-user-nav-menu {
    background-image: url("../Images/user.png");
}

.nav-item ::deep .nav-link {
    color: #ffffff;
    background: none;
    border: none;
    border-radius: 4px;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    line-height: 2rem;
    width: 100%;
}

/* .nav-item ::deep a.active {
    background-color: rgba(80, 80, 80, 0.37);
    color: rgb(255, 255, 255);
} */

.nav-item ::deep .nav-link:hover {
    background-color: rgba(80,80,80,0.37);
    color: white;
}

.nav-scrollable {
    display: none;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        display: block;
        height: 2rem;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }
}