/* Ensure no background or borders for nav items */
.nav-item {
    background: none;
    border: none;
    color: white; /* Set text color */
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-size: 0.9rem;
    height: 100%;
}

/* Style for NavLink */
.nav-link {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;  /* Text color */
    padding-right: 1rem;
    text-decoration: none; /* Remove default underline from links */
}

/* Style for icons inside NavLink */
.nav-link i {
    margin-left: 0.5rem; /* Space between text and icon */
    font-size: 1.2rem;
}

/* Remove focus outline from button or link when clicked or focused */
.nav-item button:focus, .nav-link:focus {
    outline: none; /* Remove blue outline */
}

/* Hover state for nav links and buttons */
.nav-item button:hover, .nav-link:hover {
    background-color: rgba(80, 80, 80, 0.37); /* Optional hover effect */
    color: white; /* Ensure text stays white on hover */
}

/* Specific focus on navbar-toggler */
.navbar-toggler:focus {
    outline: none; /* Remove any blue outline on focus */
}

/* Reset styles for nav-scrollable to ensure no background or border */
.nav-scrollable {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background: none;
    border: none;
}

/* Ensure navbar-toggler is properly styled */
.navbar-toggler {
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: #1EA6A1;
    top: 50%;
    display: flex;
    transform: translateY(-50%);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

