<li class="DropdownLink @Class">
    <a class="dropdown-item" @attributes="Attributes">
        <i class="@Icon"></i> @ChildContent
    </a>
</li>

@code {
    [Parameter] public required string Icon { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; } = new
    Dictionary<string, object>();

    private string? Class => Attributes.TryGetValue("class", out var val) ? val.ToString() : string.Empty;
}