@page "/test/card"

<h1>Test Card</h1>

<Card Id="card1" Class="Card" CardText="Oct24 Layout" CardImage="/Images/LayoutPhotoExample.png">
    <i class="fa-solid fa-ellipsis fa-lg"></i>
</Card>

<Card Id="card2" Class="Card" CardText="Nov24 Layout" CardImage="/Images/LayoutPhotoExample.png">
    <i class="fa-solid fa-ellipsis fa-lg"></i>
</Card>