@page "/test/dropdown"

<h1>Test Page</h1>

<Dropdown class="Test" id="123"></Dropdown>


@code{

    /*
<Dropdown Class="Test" id="123" 
OptionList=@optionList 
IconList=@iconList 
IdList=@idList>
</Dropdown>
*/
    List<string> optionList = new List<string>()
        {
            "option 1",
            "option 2",
            "option 3"
        };
    List<string> iconList = new List<string>()
        {
            "fa-regular fa-pen-to-square",
            "fa-regular fa-copy",
            "fa-solid fa-trash-can"
        };
    List<string> idList = new List<string>()
        {
            "123",
            "456",
            "789"
        };

}