@page "/test/dropdown"

<h1>Test Page</h1>

<Dropdown class="Test" id="123"></Dropdown>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
@code{

    /*
<Dropdown Class="Test" id="123" 
OptionList=@optionList 
IconList=@iconList 
IdList=@idList>
</Dropdown>
*/
    List<string> optionList = new List<string>()
        {
            "option 1",
            "option 2",
            "option 3"
        };
    List<string> iconList = new List<string>()
        {
            "fa-regular fa-pen-to-square",
            "fa-regular fa-copy",
            "fa-solid fa-trash-can"
        };
    List<string> idList = new List<string>()
        {
            "123",
            "456",
            "789"
        };

}