@* Filename: Floorsets.razor
Part of Project: PLOT

File Purpose:
This is the floorsets page component to showe the floorsets for a specific store 

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Andrew Fulton (3/13/2025)  *@

@page "/floorsets/{storeId}/{storeLocation}"

<h1>Floorsets for Store @storeId</h1>
<h3>@storeLocation</h3>

@code {
    [Parameter]
    public string? storeId { get; set; }

    [Parameter]
    public string? storeLocation { get; set; }
}
