@* File Purpose:
The purpose of this file is to showcase a blazor component being used on a page.

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Danielle Smith (2/4/2025) *@

@page "/home"
<PageTitle>Home</PageTitle>
<body class="home">
    <p>You are on The Home page</p>
</body>
