@page "/"

<PageTitle>Test</PageTitle>

<TextInput Id="myInput" Class="custom-class" Placeholder="@PValue" 
           @bind-Value="InputText" />

<button @onclick="VerifyInput">Submit</button>

<p>Current Input: @InputText</p>

@code {
    public string InputText { get; set; } = "";
    public string PValue { get; set; } = "Enter text...";

    private void VerifyInput()
    {
        if (string.IsNullOrWhiteSpace(InputText))
        {
            PValue = "This field is required!";
            StateHasChanged(); // Forces UI update
        }
        else
        {
            PValue = "Enter text...";
        }
    }
}
