@page "/home"
@using Plot.Components.PartialComponents.SlideOut

<!-- 
Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet.  -->

@page "/"
<PageTitle>Home</PageTitle>

<p>You are on The Home page</p>
