@page "/"

<PageTitle>Test</PageTitle>

<TextInput @ref="testInput" Id="myInput" Class="@Select" Placeholder="Enter Input Here" @bind-Value="InputText" />

<button @onclick="ValidateInput">Test</button>

@code {
    public TextInput testInput = new TextInput();
    public string? Select = "InputTest";
    public string? InputText { get; set; } = "";
    public void ValidateInput() {
        if (InputText == "")
        {
            testInput.displayError();
        }
    }
}

