@page "/"

<PageTitle>Test</PageTitle>

<TextInput @ref="testInput" Id="myInput" Class="InputTest" Placeholder="Enter Input Here" Value="@InputText" />

<button @onclick="ValidateInput">Test</button>

