@page "/"
@using Plot.Components.PartialComponents.SlideOut

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SlideOut Id="TestSlideOut">
    <p>
        text
    </p>
</SlideOut>
