@page "/"

<PageTitle>Test</PageTitle>

<TextInput Id="myInput" Class="custom-class" Placeholder="Enter text..." @bind-Value="InputText"/>

<p>Current Input: @InputText</p>

@code {
    private string InputText { get; set; } = "";
}