@page "/"

<PageTitle>Test</PageTitle>

<TextInput @ref="testInput" Id="myInput" Class="@Select" Placeholder="Enter Input Here" @bind-Value="InputText" />

<button @onclick="ValidateInput">Test</button>

@code {
    private TextInput testInput = new TextInput();
    private string? Select = "InputTest";
    private string? InputText { get; set; } = "";
    private void ValidateInput() {
        if (InputText == "")
        {
            testInput.displayError();
        }
    }

}

