@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. Here is a test link:

<Link Id="link" Url="https://www.svsu.edu/" Class="test" Text="This is a test link">

