@page "/login"
<PageTitle>Login</PageTitle>

<body class="background">
    <ModalDialog Title="Login" ModalID="loginModal" ModalLabel="loginModalLabel" ModalSize="">
    <BodyContent>
        <h4>Login</h4>
        <p>loreum ipsum</p>
    </BodyContent>

    <FooterContent>
        <p>loreum</p>
    </FooterContent>
</ModalDialog>
</body>

