/* Ensure html and body take full height */
html, body {
    height: 100%;  /* Full viewport height */
    margin: 0;     /* Remove default margin */
    overflow: hidden; /* Prevent any overflow */
}

/* Apply gradient to the body to cover the entire page */
.background {
    background: linear-gradient(to bottom, #55B5B1, white); /* Gradient from top (teal) to bottom (white) */
    min-height: 100vh;  /* Ensure the background still covers the full viewport */
    display: flex;  /* Center login modal */
    justify-content: center;  /* Horizontally center */
    align-items: center;      /* Vertically center */
    padding: 0 20px; /* Optional: add some padding to prevent the modal from touching the edges on mobile */
    padding-bottom: 150px;
}

/* The modal or login container */
.login {
    background: white; /* Ensure modal has a solid white background */
    width: 450px; /* Set width for the modal */
    max-width: 90%; /* Optional: ensures the modal doesn't exceed 90% of the screen width on small devices */
    border-radius: 8px; /* Optional: rounded corners for the modal */
    padding: 20px; /* Optional: add padding inside the modal for content spacing */
    overflow: hidden; /* Prevent any content from overflowing */
    
    
    /* Height adjustments */
    min-height: 550px; /* Set a minimum height */
    max-height: 70vh; /* Limit height to 80% of the viewport height */
    height: auto; /* Allow the height to adjust based on content */
}

.login * {
    border-radius: 8px;
}

/* Center content vertically and horizontally inside the modal */
.body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Vertically center the content */
    align-items: center;      /* Horizontally center the content */
    text-align: center;  /* Center align the text within the body-content */
}

/* Center footer content vertically and horizontally */
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Vertically center */
    align-items: center;      /* Horizontally center */
}

/* Style for the h4 to ensure it is centered */
h4 {
    text-align: center;  /* Center align text inside h4 */
}

.masked {
    -webkit-text-security: disc;
    -moz-text-security: disc;
    text-security: disc;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding-right: 30px; /* Make space for the button */
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555;
}
