@page "/login"
<PageTitle>Login</PageTitle>

<body class="background">
    <div class="login">
        <ModalDialog Title="Login" ModalID="loginModal" ModalLabel="loginModalLabel" ModalSize="">
            <BodyContent>
                <img src="../../PLOT/wwwroot/img/PlatoLogo.png" alt="Plato's closet logo">
                <h4>Welcome to PLOT, Plato's Layout Optimization Tool</h4>
                <p>Please log in to your account to continue</p>
                <div>Username TextInput</div>
                <div>Password TextInput</div>
                <Link Id="link" Class="test" Url="localhost:8080/recover_password">Hello</Link>
                <Button Class="Button" Id="buttonLogin" Variant="primary" OnClickFunction="ValidateInput"
                    Icon="" IsDisabled=false TextAlignment="center">
                    Log in
                </Button>
            </BodyContent>
        </ModalDialog>
    </div>
</body>

@code
{
    private void ValidateInput()
    {
        
    }
}