/* Apply gradient to the entire viewport */
html, body {
    height: 100%;  /* Ensure the gradient covers the entire height */
    margin: 0;     /* Remove default margin */
}

.background {
    height: 100%;  /* Full height */
    margin: 0;     /* Remove margin */
    background: linear-gradient(to bottom, #55B5B1, white); /* Apply gradient */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background: white; /* Ensure the login box has a white background */
    height: 25%;
    width: 10%;
}
