@* File Purpose:
The purpose of this file is to be a logout page.

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Luke Wollenweber (3/22/2025) *@

@page "/logout"
<PageTitle>Logout</PageTitle>
<body class="home">
    <p>You are on The Logout page</p>
</body>