@page "/stores"
<script>
    document.addEventListener("DOMContentLoaded", function () {
        if (typeof window.FontAwesome !== 'undefined') {
            window.FontAwesome.dom.i2svg();
        }
    });
</script>
<PageTitle>Stores</PageTitle>

<h1>Hello Store</h1>