@page "/testing"
@using Plot.Components.PartialComponents.DateInput
@inject IJSRuntime JS
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<DateInput ValueChanged="OnDateChanged" Label="Select the date for the file"/>

<p>Selected Date: @SelectedDate.ToShortDateString()</p>

@code {
    private DateTime SelectedDate;

    private async Task OnDateChanged(DateTime newDate)
    {
        
        SelectedDate = newDate; // Update the parent state
        await InvokeAsync(StateHasChanged); // Ensure UI updates
    
        
    }
}
