@page "/test-fileinput"
@rendermode InteractiveServer
@using Plot.Components.PartialComponents.FileInput

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<FileInput OnFileSelected="HandleFileSelected"></FileInput>



@if (selectedFile != null) {
    <p>@selectedFile.Name</p>
}

@code {
    private IBrowserFile? selectedFile;

    /* 
        Set the OnFileSelected parameter to this function handle,
        and you will be able to use the file.
    */
    private void HandleFileSelected(IBrowserFile file) 
    {
        selectedFile = file;
    }
}