@page "/test/numeric-input"
@using Plot.Components.PartialComponents.NumericInput
@rendermode InteractiveServer


<NumericInput Label="Dimensions" Placeholder="2ft" Description="Enter the Dimensions in feet" ValueChanged="NumberChanged" />

<p>Number is: @currentNumber</p>
@code {

    private double currentNumber;

    /* This function is called when the number is changed */
    private async Task NumberChanged(string strNumber) {
        // String will be either a positive number or ""
        Double.TryParse(strNumber, out double newNumber);
        
        currentNumber = newNumber; // Number will be 0 if string is ""
       
        await InvokeAsync(StateHasChanged);
        
    }   

}
