<!--
Program Purpose:
User dashboard for managing, adding, editing, and deleting users.

Note: Some code was present before. But no author was given.
Author (Updated File): Andrew Miller (3/14/2025)
-->

@page "/users"

<div class="container mt-4">

    <!-- Users Table -->
    <table class="table border border-light">
        <thead>
            <tr>
                <td class="border border-light border-2">Employee Name</td>
                <td class="border border-light border-2">Employee Number</td>
                <td class="border border-light border-2">Role</td>
            </tr>
        </thead>
        <tbody>
            <!-- Hardcoded rows for the demo --- 
            Replace with dynamic rows for finished product -->
            <tr>
                <td class="border border-light border-2">Clayton Cook</td>
                <td class="border border-light border-2">#1234567890</td>
                <td class="border border-light border-2">
                    <div>
                        <div>Owner</div>
                        <div>
                            <Dropdown DropdownText="@(new List<string> { "Edit", "Delete" })"



                            DropdownLinks="@(new List<string> { "/UsersComponents/EditUser", "/UsersComponents/DeleteUser"  })"
                            LabelText="Role"
                            DropdownIcons="@(new List<string> { "fa-solid fa-pen-to-square", "fa-regular fa-trash-can" })"

                             />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="border border-light border-2">John Doe</td>
                <td class="border border-light border-2">#1234567890</td>
                <td class="border border-light border-2">Manager</td>
            </tr>
            <tr>
                <td class="border border-light border-2">Jane Smith</td>
                <td class="border border-light border-2">#1234567890</td>
                <td class="border border-light border-2">Employee</td>
            </tr>
        </tbody>
    </table>

    <!--Add User Button -->
    <button class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#standardModal">
        + Add User
    </button>

    <!-- Add User Modal -->


@code {
    [Parameter]
    public Modal? ModalToShow { get; set; }

    // Optionally, you can trigger the modal here too if needed
    private async Task TriggerModal()
    {
        await ModalToShow?.Show();
    }



}


</div>
