@page "/users"

<div class="container mt-4">

    <!-- Users Table -->
    <table class="table border border-light">
        <thead>
            <tr>
                <td class="border border-light border-2">Employee Name</td>
                <td class="border border-light border-2">Employee Number</td>
                <td class="border border-light border-2">Role</td>
            </tr>
        </thead>
        <tbody>
            <!-- Hardcoded rows for the demo --- 
            Replace with dynamic rows for finished product -->
            <tr>
                <td class="border border-light border-2">Clayton Cook</td>
                <td class="border border-light border-2">#1234567890</td>
                <td class="border border-light border-2">
                    <div>
                        <span>Owner</span>
                        <Dropdown Class="New Dropdown" id=5 DropdownText="@(new List<string> { "Youtube", "Google", "SVSU" })"
                            DropdownLinks="@(new List<string> { "https://www.youtube.com/", "https://www.google.com/", "https://www.svsu.edu/" })"
                            LabelText="New Dropdown"
                            DropdownIcons="@(new List<string> { "fa-solid fa-copy", "fa-solid fa-trash-can", "fa-solid fa-layer-group" })" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="border border-light border-2">John Doe</td>
                <td class="border border-light border-2">#1234567890</td>
                <td class="border border-light border-2">Manager</td>
            </tr>
            <tr>
                <td class="border border-light border-2">Jane Smith</td>
                <td class="border border-light border-2">#1234567890</td>
                <td class="border border-light border-2">Employee</td>
            </tr>
        </tbody>
    </table>

    <!-- Button -->
    <Button Class="Test Button" Id="buttonPrimary" Variant="primary" OnClickFunction="TestFunction"
        Icon="fa-solid fa-ellipsis" IsDisabled=false TextAlignment="center">
        + Add User
    </Button>

</div>
