@page "/users"

<div class="container mt-4">

    <!-- Users Table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Employee Name</th>
                <th scope="col">Employee Number</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            <!-- Hardcoded rows for the demo --- 
            Replace with dynamic rows for finished product -->
            <tr>
                <td>Clayton Cook</td>
                <td>#1234567890</td>
                <td>Owner</td>
            </tr>
            <tr>
                <td>John Doe</td>
                <td>#1234567890</td>
                <td>Manager</td>
            </tr>
            <tr>
                <td>Jane Smith</td>
                <td>#1234567890</td>
                <td>Employee</td>
            </tr>
        </tbody>
    </table>

    <!-- Button -->
    <Button Variant="primary" IsDisabled="true" TextAlignment="center" />
</div>
