<script>
    document.addEventListener("DOMContentLoaded", function () {
        if (typeof window.FontAwesome !== 'undefined') {
            window.FontAwesome.dom.i2svg();
        }
    });
</script>
@page "/users"

<PageTitle>Users</PageTitle>

<h1>Hello User</h1>