/*
    File Name: NumericInput.razor.css
    Part of Project: Plot

    File Purpose:
    This file gives stylings to the NumericInput component.

    Program Purpose:
    The purpose of PLOT is to allow users to easily create, manage,
    and allocate floorsets for Plato's Closet.

    Author: Andrew Kennedy (2/10/2025)
*/

#number-input {
    border-radius: 5px;
    padding: .75rem;
}