/*
    File Name: NumericInput.razor.css
    Part of Project: Plot

    File Purpose:
    This file gives stylings to the NumericInput component.

    Program Purpose:
    The purpose of PLOT is to allow users to easily create, manage,
    and allocate floorsets for Plato's Closet.

    Author: Andrew Kennedy (2/10/2025)
*/

#number-input {
    border-radius: 5px;
    padding: .75rem;
    border: 1px solid #e3e3e3;
    outline: none;
}

#number-input.error {
    border-color: var(--cancel) !important;
}

    #number-input.error:focus, #number-input.error:hover {
        box-shadow: 0 0 0 .15rem rgba(220, 53, 69, .25) !important;
    }

small.error {
    color: var(--cancel) !important;
}