@namespace LayoutAllocations

<div class="col-sm-3 align-self-end">
    <h2><i class="fa-solid fa-couch"></i> Add Fixture</h2>
    <hr>
    <search>
        <form action="./search/">
            <label for="fixture">Find a Fixture</label>
            <input type="search" id="fixture" name="fixturequery">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </search>

    <div>
        <button>Add a Fixture</button>
        <div class="overflow-scroll">
            
        </div>
    </div>
    


    

</div>

@code {
    
}