@namespace PLOT.Components.Layout
<div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Header 1</th>
                    <th>Header 2</th>
                    <th>Header 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>placeholder name - Luke</td>
                    <td>placeholder number #0001</td>
                    <td class="employee-cell">
                        placeholder rows - employee 
                        <!-- Options button (three vertical dots) -->
                        <div class="options-button" onclick="showOptionsMenu(event)">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        </div>
                    </td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>

    <div class="floating-button" @onclick="AddUser">
        <span class="bi bi-plus-nav-menu" aria-hidden="true"></span>Add User
    </div>

@code {
    private void AddUser()
    {
        <ModalDialog Title="Add Store" ModalID="addStoreModal" ModalLabel="addStoreModalLabel" ModalSize="Large">
            <BodyContent>
                <h4>Add Store</h4>
                <p>Add a new store with it's unique blueprint.</p>
                <div class="row">
                    <div class="col-md-6">
                        <!-- name / location inputs -->
                        <div class="row">
                            <div class="col-2">
                                <label for="storeName" class="col-form-label">Name</label>
                            </div>
                            <div class="col-10">
                                <input type="text" id="storeName" class="form-control">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-2">
                                <label for="storeLocation" class="col-form-label">Location</label>
                            </div>
                            <div class="col-10">
                                <input type="text" id="storeLocation" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- drag/drop file input -->
                        <div class="container">
                            <div class="drag-drop-box" id="dragDropArea">
                                <h4 class="text-decoration-underline my-auto text-center">Store Blueprint Image</h4>
                                <input type="file" id="storeBlueprint" class="d-none">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <h4 class="my-3">Employees</h4>
                        <div class="row">
                            <div class="col-2">
                                <h3 class="employee-circle-btn text-center mx-auto my-0 fw-normal" style="font-size: 32px;">+</h3>
                                <p class="my-2 text-center">Add Employee</p>
                            </div>

                            <!-- in the future this can be a foreach loop of employees -->
                            <div class="col-2">
                                <h3 class="employee-circle-btn text-center mx-auto my-0 fw-normal">JD</h3>
                                <p class="my-2 text-center">Jane Doe</p>
                            </div>
                            <div class="col-2">
                                <h3 class="employee-circle-btn text-center mx-auto my-0 fw-normal">MS</h3>
                                <p class="my-2 text-center">Mary Smith</p>
                            </div>
                            <div class="col-2">
                                <h3 class="employee-circle-btn text-center mx-auto my-0 fw-normal">JS</h3>
                                <p class="my-2 text-center">James Smith</p>
                            </div>
                        </div>
                    </div>
                </div>
            </BodyContent>

            <FooterContent>
                <button type="button" class="btn cancel-red float-start" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn platos-blue">Save changes</button>
            </FooterContent>
        </ModalDialog>

    }
}