/* Filename: ExampleComponent.razor
Part of Project: PLOT

File Purpose:
This is CSS that works specifically with the example blazor component. 

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Danielle Smith (2/4/2025) */
.modal-header {
    background-color: var(--platos-blue);
}

.modal-title {
    color: white;
}

.btn-close {
    filter: invert(1);
}