<!-- Filename: Dropdown.razor
Part of Project:-- PLOT
File Purpose:
Create a component to display a dropdown menu

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Josh Rodack (2/10/2025)-->
@inject IJSRuntime JSRuntime

<div @attributes="Attributes" class="dropdown @Class">
  <button class="btn" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa-solid fa-ellipsis"></i>
  </button>


  <ul class="dropdown-menu">
    <h6 class="dropdown-header">@LabelText Options</h6>
    <div class="dropdown-divider"></div>
    @ChildContent
  </ul>
</div>

@code
{
  [Parameter] public required string LabelText { get; set; }
  [Parameter] public RenderFragment? ChildContent { get; set; }
  [Parameter(CaptureUnmatchedValues = true)]
  public Dictionary<string, object> Attributes { get; set; } = new
  Dictionary<string, object>();


  private string? Class => Attributes.TryGetValue("class", out var val) ? val.ToString() : string.Empty;
}