<!-- Filename: Dropdown.razor
Part of Project:-- PLOT
File Purpose:
Create a component to display a dropdown menu

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Josh Rodack (2/10/2025)-->


                <div class="Dropdown @Class" id="@Id">
                <script src="https://kit.fontawesome.com/b9b256c8f6.js" crossorigin="anonymous"></script>
                
                <div class="dropdown" id="toggle">
                    <button @onclick="Switch"  class="button-md" type="button">
                    <i class="fa-solid fa-ellipsis"></i>
                    </button>
                    @if(isActive==true){
                        <p>Work</p>
                    <ul class="dropdown-list ">

                        @foreach (string option in @Options.Split(',')){
                        <li>
                            <p>@option</p>
                        </li>
                        }
                    </ul>   
                    }

                </div>
                
                </div>
          

@code {


   [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string Options {get; set;}

    public bool isActive = false;

    private async Task Switch()
    { 
        isActive = !isActive;
    }
        

   
    

}