<!-- Filename: Dropdown.razor
Part of Project:-- PLOT
File Purpose:
Create a component to display a dropdown menu

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Josh Rodack (2/10/2025)-->
@*@rendermode InteractiveServer*@


<div class="dropdown @Class" id="@Id">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>



@code
{
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Class { get; set; }


}