.input-container {
    display: flex; /* Flexbox layout */
    align-items: center; /* Vertically center the input with the label */
}

.form-control {
    padding: 10px;
    font-size: 11px;
    width: auto; /* Adjust width so that it doesn't stretch across the container */
}

.form-control.error {
    border: 2px solid red; /* Red border for error state */
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}