.input-container {
    margin-bottom: 10px;
}

.form-control {
    padding: 10px;
    font-size: 11px;
    width: 100%;
    box-sizing: border-box;
}

.form-control.error {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}