<div class="allocations-sidebar">
    <div style="background-color: lightgrey;">
        <h3><i class="fa-solid fa-boxes-stacked"></i> Category Fullfillment</h3>
        <hr>

        <div class="categories-div">
            <div class="categories-list">
                <div style="display: flex;">
                    <search>
                        <form action="./search/">
                            <input type="search" id="category" name="category-query" placeholder="Search...">
                        </form>
                    </search>

                    <button>
                        <i class="fa-solid fa-sort"></i>
                    </button>

                    <button>
                        <i class="fa-solid fa-filter"></i>
                    </button>
                </div>
                                
                <div class="overflow-y-scroll overflow-x-visible">
                    <ProgressBar mainLabel="Pants" barColor="aqua"/>
                    <ProgressBar mainLabel="Shirts" barColor="aqua"/>
                    <ProgressBar mainLabel="Shoes" barColor="khaki"/>
                    <ProgressBar mainLabel="Socks" barColor="lightcoral"/>
                    <ProgressBar mainLabel="Jackets" barColor="lightcoral"/>
                </div>
            </div> 
        </div>
              
    </div>
    

    <div style="justify-content: center; display: flex;">
        <div class="toolbar-group btn-group">
            <!-- Edit Fixture Button -->
            <button class="toolbar-button">
                <i class="fa-solid fa-pen-to-square"></i>
            </button>

            <!-- Paint Category Button -->
            <button class="toolbar-button">
                <i class=" fa-solid fa-brush"></i>
            </button>

            <!-- Erase Category Button -->
            <button class="toolbar-button">
                <i class=" fa-solid fa-eraser"></i>
            </button>

            <!-- View Fullfillment Button -->
            <button class="toolbar-button">
                <i class=" fa-solid fa-eye"></i>
            </button>

            <!-- Edit Layout Button -->
            <button class="toolbar-button">
                <i class=" fa-solid fa-wrench"></i>
            </button>
        </div>
    </div>
</div>