@page "/test/plotbutton"

<h1>Test Button</h1>


<PlotButton Class="Test Button" Id="123" Variant="primary"
Icon="fa-solid fa-ellipsis" IsDisabled=false TextAllignment="center"></PlotButton>

<PlotButton Class="Test Button" Id="123" Variant="success"
Icon="fa-solid fa-download" IsDisabled=false TextAllignment="right"></PlotButton>

<PlotButton Class="Test Button" Id="123" Variant="danger"
Icon="fa-solid fa-copy" IsDisabled=true TextAllignment="left"></PlotButton>
