<a id="@Id" href="@Url" class=" Link @Class">
    @Text
</a>

@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public string? Text { get; set; }

    [Parameter, EditorRequired]
    public string? Url { get; set; }
}