<!-- Filename: Link.razor
Part of Project:-- PLOT
File Purpose:
Create a component to display a link

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Luke Wollenweber (3/13/2025)-->
<a id="@Id" href="@Url" class="Link @Class">
    @ChildContent
</a>

@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public required string Url { get; set; }

    [Parameter] 
    public required RenderFragment ChildContent { get; set; } // This captures the child content (e.g., "Hello")
}

