<a id="@Id" href="@Url" class="Link @Class">
    @ChildContent
</a>

@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public required string Url { get; set; }

    [Parameter] 
    public required RenderFragment ChildContent { get; set; } // This captures the child content (e.g., "Hello")
}

