<div class="allocations-sidebar">
    <h2><i class="fa-solid fa-boxes-stacked"></i> Category Fullfillment</h2>
    <hr>

    <div class="categories-list">
        <search>
            <form action="./search/">
                <label for="category">Search</label>
                <input type="search" id="category" name="category-query">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </search>
        
        <div class="overflow-y-scroll overflow-x-visible">
            <CategoryListItem category="Pants" categoryColor="aqua"/>
            <CategoryListItem category="Shirts" categoryColor="aqua"/>
            <CategoryListItem category="Shoes" categoryColor="khaki"/>
            <CategoryListItem category="Socks" categoryColor="lightcoral"/>
            <CategoryListItem category="Jackets" categoryColor="lightcoral"/>
        </div>
    </div>       

    <div class="tools btn-group">
        <!-- Edit Fixture Button -->
        <button><i class="fa-solid fa-pen-to-square"></i></button>

        <!-- Paint Category Button -->
        <button><i class="fa-solid fa-brush"></i></button>

        <!-- Erase Category Button -->
        <button><i class="fa-solid fa-eraser"></i></button>

        <!-- View Fullfillment Button -->
        <button><i class="fa-solid fa-eye"></i></button>

        <!-- Edit Layout Button -->
        <button><i class="fa-solid fa-wrench"></i></button>
    </div>
</div>