<div class="category-list-item row"> 
    <div class="col-sm-2">
        <label>A Category Item</label>
    </div>
    <div class="col-sm-8">
        <progress id="fullfillment" max="100" value="50">50/100</progress>
    </div>
</div>