<div id="progress-container">
    <div id="progress-container-text">
        <div id="progress-container-text-align-center">@barText</div>
    </div>
    <div id="progress-bar" style="width: @barProgress%; background-color: @barColor;"></div>
</div>

@code {
    //Text to display inside the progress bar.
    [Parameter]
    public String barText {get; set;} = "50/100";

    //Amount of progress in the progress bar. 0 <= barProgress <= 100.
    [Parameter]
    public int barProgress {get; set;} = 50; 

    //PROGRESS BAR COLOR
    [Parameter]
    public String barColor {get; set;} = "aliceblue";
}