#progress-container {
    width: 100px;
    background-color: rgb(161, 161, 161);;
    height: 30px;
    position: relative;
  }
  
  #progress-container-text {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
  }
  
  #progress-container-text-align-center {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  #progress-bar {
    height: 100%;
  }