@code {
    [Parameter] public string ID { get; set; } = "";
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string Placeholder { get; set; } = "";
    [Parameter] public bool IsError { get; set; } = false;
    private string inputText = "";

    private string GetInputClass() => IsError ? $"{Class} border-red-500 text-red-500" : Class;

    private void OnInput(ChangeEventArgs e)
    {
        inputText = e.Value?.ToString() ?? "";
        if (IsError && !string.IsNullOrWhiteSpace(inputText))
        {
            IsError = false;
        }
    }
}

<input id="@ID" class="TextInput @GetInputClass()" placeholder="@GetPlaceholder()" @oninput="OnInput" value="@inputText" />
@if (IsError)
{
    <p class="text-red-500 text-sm">Please enter data</p>
}
