.red-outline {
    border: 2px solid red;
}
    .text-input-container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .label-top {
        flex-direction: column;
        align-items: flex-start;
    }

    .label-left {
        flex-direction: row;
    }

    label {
        font-weight: bold;
        margin-bottom: 4px;
    }

    .label-left label {
        margin-right: 10px;
    }

    input {
        padding: 5px;
        border: 1px solid red; /* Default border is red */
        color: red; /* Default text is red */
        border-radius: 4px;
        outline: none;
    }

