@* Originally by Luke Wollenweber *@
@* Updated 4/1/2025 by Danielle Smith to add Max parameter *@

<label>
    @ChildContent
    <InputText class="@($"text-input-container {Class}")" @attributes="Attributes" />
</label>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public required Dictionary<string, object> Attributes { get; set; }

    private string? Class => Attributes.TryGetValue("class", out var val) ? val.ToString() : string.Empty;

    protected override void OnParametersSet()
    {
        Attributes.Remove("class");
    }
}
