/* General Styling for the TextInput */
.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.form-control {
    padding: 10px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control.error {
    border-color: red; /* Red border on error */
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* Label Styling */
.label {
    margin-right: 10px; /* space between label and input */
}

.label-top {
    display: block;
    margin-bottom: 5px;
}

.input-container.label-on-top {
    flex-direction: column;  /* Stack label on top of input */
    align-items: flex-start;
}
