.text-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.label-top {
    flex-direction: column;
    align-items: flex-start;
}

.label-left {
    flex-direction: row;
}

label {
    font-weight: bold;
    margin-bottom: 4px;
}

.label-left label {
    margin-right: 10px;
}

input {
    padding: 5px;
    border: 1px solid #ccc; /* Default border color */
    color: black; /* Default text color */
    border-radius: 4px;
    outline: none;
}

.text-input-container {
    position: relative;
    width: 100%;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.TextInput {
    width: 100%;
    padding-right: 40px; /* Make space for the toggle button */
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px; /* Position the button to the right */
    transform: translateY(-50%); /* Vertically center the button */
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555;
}

.toggle-password:hover {
    color: #007bff; /* Optional: Change color on hover */
}
