/* Filename: Loader.razor.css
Part of Project: PLOT

File Purpose:
This is CSS that works specifically with the Loader blazor component. 

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Josh Rodack (2/10/2025) */

.modal-header {
    background-color: var(--platos-blue);
}

.modal-title {
    color: white;
}

.btn-close {
    filter: invert(1);
}