<!-- Filename: Loader.razor
Part of Project:-- PLOT
File Purpose:
Create a component to display a loading symbol for when the
program is loading

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Josh Rodack (2/10/2025)-->

<script src="https://kit.fontawesome.com/b9b256c8f6.js" crossorigin="anonymous"></script>

<div class="Loader @Class" id="@Id">
    <div class="fa-3x">
        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
    </div>
    <label>
        @LabelText
    </label>
</div>

@code {
    [Parameter, EditorRequired]
    public required string LabelText { get; set; }

    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Class { get; set; }
}