/* Filename: PlotButton.razor.css
Part of Project: PLOT

File Purpose:
This is CSS that works specifically with the Button blazor component. 

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Josh Rodack (2/10/2025) */

.btn-primary{
    background-color: #55B5B1;
}
.btn-success{
    background-color: #3D9747;
}
.btn-danger{
    background-color: #EF4444;
    
   
}

.text-start{
    color: black;
    text-align: start;
}
.text-center{
    color: black;
    text-align: center;
}
.text-end{
    color: black;
    text-align: end;
}
