<!-- Filename: AllocationsSidebar.razor
Part of Project:-- PLOT
File Purpose:
Create a component to display the sidebar for the allocations page.

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Tristan Calay (3/15/2025)-->

@rendermode InteractiveServer
@inject IJSRuntime JS

<div class="AllocationsSidebar @Class" id="@ID">
    <div class="inner-container">
        <h3 style="font-weight: bold;"><i class="fa-solid fa-file-circle-check"></i> Category Fullfillment</h3>
        <hr style="opacity: 1.0; color:black;">

        @* Danielle Smith 3/17/2025
        changed how these are being displayed to use bootstrap classes
        added params to help text input take up proper width *@
        <div class="row">
            <div class="col-md-8">
                <TextInput Id="category-search" Label="" Type="search" Placeholder="Category Search..."
                    Value="@categorySearch" ValueChanged="@(e => categorySearch = e)" LabelOnTop="false"
                    Class="w-100" />
            </div>

            <div class="col-md-2">
                <Button IsDisabled="false" Variant="primary" Icon="fa-solid fa-arrow-up-short-wide"
                    OnClickFunction="sortCategory" Class="search-button" TextAlignment="center" />
            </div>

            <div class="col-md-2">
                <Button IsDisabled="false" Variant="primary" Icon="fa-solid fa-filter"
                    OnClickFunction="filterCategory" Class="search-button" TextAlignment="center" />
            </div>
        </div>

        <div class="progress-area">
            @* Danielle Smith 3/17/2025
            added classes for margins on these progressbars
            added more categories to fill this out for demo purpopses & sorted them alphabetically *@

            @* Tristan Calay 3/27/25
            Added UL / LI with onclick to set the painting color. *@
            <ul style="list-style: none;">
                @* Men's *@
                <li><ProgressBar iconString="fa-solid fa-chevron-down" mainLabel="Men's" barColor="#AAD9FF" barMax=480
                    barValue=290 barLabel="290/480 LF" /></li>
                <li id="cat1" onclick="categoryOnClick(this.id,'Men\'s|Jeans|#AAD9FF')"><ProgressBar mainLabel="Jeans" barColor="#AAD9FF" barMax=100 barValue=20 barLabel="20/100 LF" /></li>
                <li id="cat2" onclick="categoryOnClick(this.id,'Men\'s|Jackets|#AAD9FF')"><ProgressBar mainLabel="Jackets" barColor="#AAD9FF" barMax=100 barValue=120 barLabel="120/100 LF" /></li>
                <li id="cat3" onclick="categoryOnClick(this.id,'Men\'s|Pants|#AAD9FF')"><ProgressBar mainLabel="Pants" barColor="#AAD9FF" barMax=100 barValue=20 barLabel="20/100 LF" /></li>
                <li id="cat4" onclick="categoryOnClick(this.id,'Men\'s|Shirts|#AAD9FF')"><ProgressBar mainLabel="Shirts" barColor="#AAD9FF" barMax=100 barValue=30 barLabel="30/100 LF" /></li>
                <li id="cat5" onclick="categoryOnClick(this.id,'Men\'s|Shoes|#AAD9FF')"><ProgressBar mainLabel="Shoes" barColor="#AAD9FF" barMax=100 barValue=60 barLabel="60/100 LF" /></li>
                <li id="cat6" onclick="categoryOnClick(this.id,'Men\'s|Shorts|#AAD9FF')"><ProgressBar mainLabel="Shorts" barColor="#AAD9FF" barMax=100 barValue=20 barLabel="20/100 LF" /></li>
                <li id="cat7" onclick="categoryOnClick(this.id,'Men\'s|Sports|#AAD9FF')"><ProgressBar mainLabel="Sports" barColor="#AAD9FF" barMax=100 barValue=20 barLabel="20/100 LF" /></li>
                <li id="cat8" onclick="categoryOnClick(this.id,'Men\'s|Suits|#AAD9FF')"><ProgressBar mainLabel="Suits" barColor="#AAD9FF" barMax=100 barValue=100 barLabel="100/100 LF" /></li>

                @* Women's *@
                <hr class="category-separator">
                <li><ProgressBar iconString="fa-solid fa-chevron-down" mainLabel="Women's" barColor="#FFAAD6" barMax=40
                    barValue=20 barLabel="20/40 LF" /></li>
                <li id="cat9" onclick="categoryOnClick(this.id,'Women\'s|Dresses|#FFAAD6')"><ProgressBar mainLabel="Dresses" barColor="#FFAAD6" barMax=100 barValue=120 barLabel="120/100 LF" /></li>
                <li id="cat10" onclick="categoryOnClick(this.id,'Women\'s|Jackets|#FFAAD6')"><ProgressBar mainLabel="Jackets" barColor="#FFAAD6" barMax=100 barValue=120 barLabel="120/100 LF" /></li>
                <li id="cat11" onclick="categoryOnClick(this.id,'Women\'s|Jeans|#FFAAD6')"><ProgressBar mainLabel="Jeans" barColor="#FFAAD6" barMax=100 barValue=20 barLabel="20/100 LF" /></li>
                <li id="cat12" onclick="categoryOnClick(this.id,'Women\'s|Pants|#FFAAD6')"><ProgressBar mainLabel="Pants" barColor="#FFAAD6" barMax=40 barValue=20 barLabel="20/40 LF" /></li>
                <li id="cat13" onclick="categoryOnClick(this.id,'Women\'s|Shirts|#FFAAD6')"><ProgressBar mainLabel="Shirts" barColor="#FFAAD6" barMax=100 barValue=30 barLabel="30/100 LF" /></li>
                <li id="cat14" onclick="categoryOnClick(this.id,'Women\'s|Shoes|#FFAAD6')"><ProgressBar mainLabel="Shoes" barColor="#FFAAD6" barMax=100 barValue=60 barLabel="60/100 LF" /></li>
                <li id="cat15" onclick="categoryOnClick(this.id,'Women\'s|Shorts|#FFAAD6')"><ProgressBar mainLabel="Shorts" barColor="#FFAAD6" barMax=100 barValue=20 barLabel="20/100 LF" /></li>
                <li id="cat16" onclick="categoryOnClick(this.id,'Women\'s|Skirts|#FFAAD6')"><ProgressBar mainLabel="Skirts" barColor="#FFAAD6" barMax=100 barValue=120 barLabel="120/100 LF" /></li>
                <li id="cat17" onclick="categoryOnClick(this.id,'Women\'s|Sports|#FFAAD6')"><ProgressBar mainLabel="Sports" barColor="#FFAAD6" barMax=100 barValue=20 barLabel="20/100 LF" /></li>
                <li id="cat18" onclick="categoryOnClick(this.id,'Women\'s|Suits|#FFAAD6')"><ProgressBar mainLabel="Suits" barColor="#FFAAD6" barMax=100 barValue=100 barLabel="100/100 LF" /></li>

                @* Accessories *@
                <hr class="category-separator">
                <li><ProgressBar iconString="fa-solid fa-chevron-down" mainLabel="Accessories" barColor="#5FBD6A" barMax=10
                    barValue=20 barLabel="20/10 LF" /></li>
                <li id="cat19" onclick="categoryOnClick(this.id,'Accessories|Belts|#5FBD6A')"><ProgressBar mainLabel="Belts" barColor="#5FBD6A" barMax=10 barValue=20 barLabel="20/10 LF" /></li>
                <li id="cat20" onclick="categoryOnClick(this.id,'Accessories|Hats|#5FBD6A')"><ProgressBar mainLabel="Hats" barColor="#5FBD6A" barMax=10 barValue=20 barLabel="20/10 LF" /></li>
                <li id="cat21" onclick="categoryOnClick(this.id,'Accessories|Jewelery|#5FBD6A')"><ProgressBar mainLabel="Jewelry" barColor="#5FBD6A" barMax=10 barValue=20 barLabel="20/10 LF" /></li>
                <li id="cat22" onclick="categoryOnClick(this.id,'Accessories|Purses|#5FBD6A')"><ProgressBar mainLabel="Purses" barColor="#5FBD6A" barMax=10 barValue=20 barLabel="20/10 LF" /></li>
            </ul>

        </div>

    </div>
</div>

@* Tristan Calay - Scripts for category onclick *@
<script>
    var lastSelectedCategoryID = -1;
    //categoryOnClick takes the ID of the list item and highlights that item for noting the selected category.
    //A reference is stored to the last selected item, if there is one, and it is unselected.
    function categoryOnClick(id, categoryData)
    {
        console.log("Onclick ID "+id+", Data "+categoryData)

        const [category, clothing, color] = categoryData.split('|');

        // Set paint color for canvas grid
        window.paint = color;
        
        clearSelectedCategory();
        document.getElementById(id).style.background = "rgba(0,255,0,.3)";
        lastSelectedCategoryID = id;

        //Call into the FloorsetEditor script for setting the paint color.
        //This requires the general category, specific category, and category color split by | characters.
        setPaintColor(categoryData);
    }

    //Function to clear the styling and last selected ID for the category list.
    function clearSelectedCategory()
    {
        if (lastSelectedCategoryID !== -1)
        {
            //Unselect current category
            console.log("Removing selection of painting category");
            document.getElementById(lastSelectedCategoryID).style.background = "transparent";
            lastSelectedCategoryID = -1;
        }
    }
</script>
@code
{
    [Parameter]
    public String? Class { get; set; }

    [Parameter]
    public String? ID { get; set; }

    private String categorySearch = ""; //Default storage of the category search textbox.

    private void filterCategory()
    {
        Console.WriteLine("Filter Category Search Function");
    }

    private void sortCategory()
    {
        Console.WriteLine("Sort Categories Function");
    }

    public async Task clearSelectedCategory()
    {
        await JS.InvokeVoidAsync("clearSelectedCategory");
    }
}