.toolbar-button
{
    color: white; 
    background-color: lightseagreen;
    border-radius: 5px;
    border-color: transparent;
    width: 100%;
}

.toolbar-group
{
    justify-content: space-between;
    display: flex;
    width: 70%;
    gap: 5%;
    height: 10%;
}

.categories-list
{
    background-color: white;
    padding: 5px;
    height: 100%;
}

.categories-div
{
    width: 95%;
    height: 85%;
    margin: auto;
}

.allocations-sidebar
{
    height: 100%;
    display: grid;
}

#search-glass
{
    position: absolute;
    margin-top: 0.8rem;
    margin-left: 0.2rem;
    opacity: 0.8;
}