<!-- Filename: AllocationsSidebar.razor
Part of Project:-- PLOT
File Purpose:
Create a component to display the sidebar for the allocations page.

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Tristan Calay (3/15/2025)-->

<div class="AllocationsSidebar @Class" id="@ID">
    <div style="background-color: lightgrey;">
        <h3><i class="fa-solid fa-boxes-stacked"></i> Category Fullfillment</h3>
        <hr>

        <div class="categories-div">
            <div class="categories-list">
                <div style="display: flex;">
                    <TextInput Id="category-search" Label="" Type="search" Placeholder="Category Search..." Value="@categorySearch" ValueChanged="@(e => categorySearch = e)" />

                    <Button IsDisabled="false" Variant="primary" Icon="fa-solid fa-sort" 
                    OnClickFunction="sortCategory" TextAlignment="center"/>

                    <Button IsDisabled="false" Variant="primary" Icon="fa-solid fa-filter" 
                    OnClickFunction="filterCategory" TextAlignment="center"/>
                
                </div>
                    
                    <ProgressBar Id=1 iconString="fa-solid fa-chevron-down" mainLabel="Men's" barColor="#AAD9FF" barMax=480 barValue=290 barLabel="290/480 LF"/>
                    <ProgressBar Id=2 mainLabel="Pants" barColor="#AAD9FF" barMax=100 barValue=20 barLabel="20/100 LF"/>
                    <ProgressBar Id=3 mainLabel="Shirts" barColor="#AAD9FF" barMax=100 barValue=30 barLabel="30/100 LF"/>
                    <ProgressBar Id=4 mainLabel="Shoes" barColor="#AAD9FF" barMax=100 barValue=60 barLabel="60/100 LF"/>
                    <ProgressBar Id=5 mainLabel="Socks" barColor="#AAD9FF" barMax=80 barValue=80 barLabel="80/80 LF"/>
                    <ProgressBar Id=6 mainLabel="Jackets" barColor="#AAD9FF" barMax=100 barValue=100 barLabel="100/100 LF"/>
                    <ProgressBar Id=7 mainLabel="OverFill Test" barColor="#AAD9FF" barMax=100 barValue=120 barLabel="120/100 LF"/>
                    <ProgressBar Id=8 iconString="fa-solid fa-chevron-down" mainLabel="Women's" barColor="#FFAAD6" barMax=40 barValue=20 barLabel="20/40 LF"/>
                    <ProgressBar Id=9 mainLabel="Pants" barColor="#FFAAD6" barMax=40 barValue=20 barLabel="20/40 LF"/>
                    <ProgressBar Id=10 iconString="fa-solid fa-chevron-down" mainLabel="Accessories" barColor="#5FBD6A" barMax=10 barValue=20 barLabel="20/10 LF"/>
                    <ProgressBar Id=11 mainLabel="Belts" barColor="#5FBD6A" barMax=10 barValue=20 barLabel="20/10 LF"/> 
                <div>
                </div>
            </div> 
        </div>
              
    </div>
    

    <div style="justify-content: center; display: flex;">
        <div class="toolbar-group btn-group">
            <!-- Edit Fixture Button -->
            <Button IsDisabled="false" Variant="primary" Icon="fa-solid fa-pen-to-square" 
                    OnClickFunction="editFixture" TextAlignment="center"/>

            <!-- Paint Category Button -->
            <Button IsDisabled="false" Variant="primary" Icon="fa-solid fa-brush" 
                    OnClickFunction="paintCategory" TextAlignment="center"/>

            <!-- Erase Category Button -->
            <Button IsDisabled="false" Variant="primary" Icon="fa-solid fa-eraser" 
                    OnClickFunction="eraseCategory" TextAlignment="center"/>
            

            <!-- View Fullfillment Button -->
            <Button IsDisabled="false" Variant="primary" Icon="fa-solid fa-eye" 
                    OnClickFunction="viewFulfillment" TextAlignment="center"/>

            <!-- Edit Layout Button -->
            <Button IsDisabled="false" Variant="primary" Icon="fa-solid fa-wrench" 
                    OnClickFunction="editLayout" TextAlignment="center"/>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public String? Class {get; set;}

    [Parameter]
    public String? ID {get; set;}

    private String categorySearch = ""; //Default storage of the category search textbox.

    private void filterCategory()
    {
        Console.WriteLine("Filter Category Search Function");
    }

    private void sortCategory()
    {
        Console.WriteLine("Sort Categories Function");
    }

    private void editFixture()
    {
        Console.WriteLine("Edit Fixture Function");
    }

    private void paintCategory()
    {
        Console.WriteLine("Paint Category Function");
    }

    private void eraseCategory()
    {
        Console.WriteLine("Erase Category Function");
    }

    private void viewFulfillment()
    {
        Console.WriteLine("View Fulfillment Function");
    }

    private void editLayout()
    {
        Console.WriteLine("Edit Layout Function");
    }
 }