meter
{
  background-color: rgba(0,0,0,0.25);
  height: 90%;
  border-radius: 50vh;
  width: 100%;
}

label
{
  position: absolute;
  padding-left: 0.5rem;
}

.progress-unfulfilled
{
  border: 2px solid #EF4444;
}

.progress-overfilled
{
  border: 2px dashed gold;
  background-color: black;
}

meter::-webkit-meter-bar,  /*background color of bar*/
meter::-webkit-meter-optimum-value, 
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value,
meter::-moz-meter-bar,
meter::-moz-meter-optimum-value,
meter::-moz-meter-suboptimum-value, 
meter::-moz-meter-even-less-good-value
{
  background: attr(bar-color);
  color: attr(bar-color);
}