@inject StoresHttpClient StoresHttpClient
@inject UsersHttpClient UsersHttpClient

<Modal @attributes="Attributes" SizeClass="modal-lg">
    <ModalHeader Title="Create Store" />
    <EditForm Model="AddStoreModel" OnValidSubmit="async () => await OnAddStoreSubmit()">

        <AddUpdateStoreModalBody AddUpdateStoreModel="AddStoreModel" StoreId="StoreId" />

        <ModalFooter>
            <Button  Class="Button" TextAlignment="center" Variant="primary" type="submit" data-bs-dismiss="modal">
                Create Store
            </Button>
        </ModalFooter>
    </EditForm>
</Modal>

@code {
    [Parameter] public required EventCallback UpdateStores { get; set; }

    [Parameter] public required List<Data.Models.Users.UserDTO> usersToAdd{ get; set; }

    [SupplyParameterFromForm] private Data.Models.Stores.UpdatePublicInfoStore? AddStoreModel { get; set; }

    [Parameter(CaptureUnmatchedValues = true)] public required Dictionary<string, object> Attributes { get; set; }    

    protected override void OnInitialized() 


    {
        AddStoreModel ??= new();
        //await UpdateUsers();
    } 

    public int StoreId = -1;

    private async Task OnAddStoreSubmit()
    {
        if (AddStoreModel != null)
        {

            var Store = new Data.Models.Stores.CreateStore()
            {
                NAME = AddStoreModel.NAME!,
                ADDRESS = AddStoreModel.ADDRESS!,
                BLUEPRINT_IMAGE = AddStoreModel.BLUEPRINT_IMAGE,
                CITY = AddStoreModel.CITY!,
                LENGTH = AddStoreModel.LENGTH,
                WIDTH = AddStoreModel.WIDTH,
                STATE = AddStoreModel.STATE!,
                ZIP = AddStoreModel.ZIP!,
                USER_TUIDS = ""
            };

            if(usersToAdd.Count > 0)
            {
                foreach(var user in usersToAdd)
                {  
                    Store.USER_TUIDS += user.TUID +",";
                }
                if(Store.USER_TUIDS != null)
                {
                    Store.USER_TUIDS = Store.USER_TUIDS.TrimEnd(',');
                }
            }

            Console.WriteLine(Store.USER_TUIDS);

            Console.WriteLine(Store);


            await StoresHttpClient.CreateStore(Store);
            await UpdateStores.InvokeAsync();
        }
    }

    
}