<ModalBody>
    <div class="d-flex flex-row gap-2">
        <div class="col-6 d-flex flex-column gap-2 height-custom">
            <label class="w-100 d-flex">
                <span class="fw-bold label-text">Name</span>
                <InputText class="w-75 form-control ms-auto input-field" type="text" @bind-value="AddUpdateStoreModel!.NAME" />
                <div class="text-danger">
                    <ValidationMessage For=@(() => AddUpdateStoreModel.NAME) />
                </div>
            </label>

            <label class="w-100 d-flex">
                <span class="fw-bold label-text">Address</span>
                <InputText class="w-75 form-control ms-auto input-field" type="text" @bind-value="AddUpdateStoreModel!.ADDRESS" />
                <div class="text-danger">
                    <ValidationMessage For=@(() => AddUpdateStoreModel.ADDRESS) />
                </div>
            </label>

            <label class="w-100 d-flex">
                <span class="fw-bold label-text">City</span>
                <InputText class="w-75 form-control ms-auto input-field" type="text" @bind-value="AddUpdateStoreModel!.CITY" />
                <div class="text-danger">
                    <ValidationMessage For=@(() => AddUpdateStoreModel.CITY) />
                </div>
            </label>

            <label class="w-100 d-flex">
                <span class="fw-bold label-text">State</span>
                <InputText class="w-75 form-control ms-auto input-field" type="text" @bind-value="AddUpdateStoreModel!.STATE" />
                <div class="text-danger">
                    <ValidationMessage For=@(() => AddUpdateStoreModel.STATE) />
                </div>
            </label>

            <label class="w-100 d-flex">
                <span class="fw-bold label-text">Zip</span>
                <InputText class="w-75 form-control ms-auto input-field" type="text" @bind-value="AddUpdateStoreModel!.ZIP" />
                <div class="text-danger">
                    <ValidationMessage For=@(() => AddUpdateStoreModel.ZIP) />
                </div>
            </label>

            <label class="w-100 d-flex">
                <span class="fw-bold label-text">Width</span>
                <InputNumber class="w-75 form-control ms-auto input-field" type="Number" @bind-value="AddUpdateStoreModel!.WIDTH"
                    min="1" />
                <div class="text-danger">
                    <ValidationMessage For=@(() => AddUpdateStoreModel.WIDTH) />
                </div>
            </label>

            <label class="w-100 d-flex">
                <span class="fw-bold label-text">Length</span>
                <InputNumber class="w-75 form-control ms-auto " type="Number" @bind-value="AddUpdateStoreModel!.LENGTH"
                    min="1" />
                <div class="text-danger">
                    <ValidationMessage For=@(() => AddUpdateStoreModel.LENGTH) />
                </div>
            </label>


        </div>

        <div class="col-6 d-flex align-items-center">
            <ImageInput Label="Upload Image" Id="@StoreId.ToString()" Height="310px" OnImageUpload="OnImageUpload"
                ImageSrc="ImageSrc" />
        </div>
    </div>
</ModalBody>

@code {
    [Parameter] public Data.Models.Stores.UpdatePublicInfoStore? AddUpdateStoreModel { get; set; }
    [Parameter] public string? StoreName { get; set; } = "";
    [Parameter] public required int StoreId { get; set; }

    private string ImageSrc = "";

    protected override void OnInitialized()
    {
        if (AddUpdateStoreModel != null)
        {
            ImageSrc = AddUpdateStoreModel.BLUEPRINT_IMAGE != null ?
            $"data:image/jpeg;base64,{Convert.ToBase64String(AddUpdateStoreModel.BLUEPRINT_IMAGE)}" : "";
        }

    }

    private async Task OnImageUpload(InputFileChangeEventArgs e)
    {
        await Task.Run(() => Console.WriteLine("Upload Image"));
        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        var bytes = ms.ToArray();

        if (AddUpdateStoreModel != null)
        {
            AddUpdateStoreModel!.BLUEPRINT_IMAGE = bytes;
        }
    }
}