/* Filename: Stores.razor.css
Part of Project: PLOT

File Purpose:
This is CSS that works specifically with the Stores blazor component. 

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Andrew Fulton (3/12/2025) */


/* used to group a set of items in a horozontal container */
.horizontal-items {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}





/* logic used to make a split container. This was made for the different modals body section */
.modal-split-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* left side of the split container used in modals */
.modal-split-left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-left: 5%; */
    gap: 10px;
}

/* right side of the spliot container used in modals */
.modal-split-right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: auto;
    gap: 10px;
}

/* used for grouping input items together (like a label and inoput box) */
.input-group {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    gap: 10px;
}






/* CSS used for the + Add store button */
/* CSS for the wrapping the Button component in a button */
.btn-style {
    border: none;
    background-color: white;
}

/* CSS used to fix the button in the bottom right */
.fixed-bottom-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 60px;
    background-color: transparent;
    border: none;
    text-align: center;
    z-index: 1000;
    /* Ensure it's on top */
}





/* CSS used for showing employees in modals */
.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.circle {
    width: 40px !important;
    height: 40px !important;
    /* Make the div a circle */
    border-radius: 50% !important;
    background-color: #d8d8d8 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    /* font color and size */
    color: black !important;
    font-size: 18px !important;
}

/* CSS for name under circle */
.circle-name {
    margin-top: 8px;
    font-size: 14px;
}