@* Quick page to test Authentication of endpoints
   This can be used as a refrence on how to access
   BE endpoints and how auth attributes/tags *@

@page "/client-test-auth"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using System.Net.Http.Headers
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.WebUtilities
@using Plot.Data.Models.Auth.Registration
@using Plot.Data.Models.Auth.ResetPassword
@inject HttpClient Client
@inject AuthHeaderHttpClient AuthHeaderHttpClient
@inject NavigationManager Navigation
@inject IHttpContextAccessor HttpContextAccessor
@inject AuthService AuthService
@inject AuthHttpClient AuthHttpClient


<PageTitle>TestAuth</PageTitle>

<AuthorizeView Policy="Owner">
    <p>Auth Role: Owner</p>

</AuthorizeView>

<AuthorizeView Policy="Manager">
    <p>Auth Role: Manager</p>

</AuthorizeView>

<AuthorizeView Policy="Employee">
    <p>Auth Role: Employee</p>

</AuthorizeView>


<AuthorizeView>
    <NotAuthorized>
        <div>You are not authorized.</div>
    </NotAuthorized>
</AuthorizeView>


<h1>Hello Auth</h1>

<body class="background">
    <div class="login">
        <form class="body-content" onsubmit="@ResetPasswordRequestTest">
            
            <Button Class="Button" Id="buttonFail" Variant="primary" Icon="" Type="submit" IsDisabled=false
                TextAlignment="center">
                ResetPasswordRequest
            </Button>
            
        </form>
            
        
        <form class="body-content" onsubmit="@ResetPasswordTest">
            
            <Button Class="Button" Id="buttonPass" Variant="primary" Icon="" Type="submit" IsDisabled=false
                TextAlignment="center">
                ResetPassword
            </Button>
            
        
        </form>
        <form class="body-content" onsubmit="@RegisterTest">
            
            <Button Class="Button" Id="buttonPass" Variant="primary" Icon="" Type="submit" IsDisabled=false
                TextAlignment="center">
                NavigateAuth
            </Button>
            
        </form>
        <div class="footer-content">
        </div>
    </div>
</body>


@code
{

    private async void ResetPasswordRequestTest()
    {   
        ResetPasswordRequest newRequest = new ResetPasswordRequest
        {
            EMAIL = "plotdevtest@gmail.com" // Replace with a valid email
        };

        var response = await AuthHttpClient.ResetPasswordRequest(newRequest);

        var testResponse= "Reset email sent";

        if(!response.IsSuccessStatusCode)
        {
            testResponse="Email did not send";

        }

        Console.WriteLine(testResponse);
        
    }

    

    private async void ResetPasswordTest()
    {   

        var uri = new Uri(Navigation.Uri);
        var queryParams = QueryHelpers.ParseQuery(uri.Query);
        var token="";

        if (queryParams.TryGetValue("token", out var tokenValue))
        {
            token = tokenValue;
        }

        token="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJFbWFpbCI6InBsb3RkZXZ0ZXN0QGdtYWlsLmNvbSIsIlJvbGUiOiJPd25lciIsIlVzZXJJZCI6IjQ0IiwibmJmIjoxNzQzNjY4MTkwLCJleHAiOjE3NDM2NzE3OTAsImlhdCI6MTc0MzY2ODE5MCwiaXNzIjoiaHR0cDovL2JhY2tlbmQ6ODA4NSIsImF1ZCI6Imh0dHA6Ly9mcm9udGVuZDo4MDgwIn0.O_B3aChIlZotuj0qU2ea_mgvO5qATytoaom13qJ2Ttk";
        ResetPassword newRequest = new ResetPassword
        {
            NewPassword = "admin26!", 
            Token = token! 
        };

        var response = await AuthHttpClient.ResetPassword(newRequest);


        var testResponse= "Password reset";

        if(!response.IsSuccessStatusCode)
        {
            testResponse="Password not reset";

        }

        Console.WriteLine(testResponse);
        
    }

    private async void RegisterTest()
    {   
        UserRegistration newRequest = new UserRegistration
        {
            EMAIL = "plotdevtest@gmail.com",
            FIRST_NAME = "Plot",
            LAST_NAME = "Admin",
            ROLE = "1",
            
        };

        var response = await AuthHttpClient.Register(newRequest);

        Console.WriteLine(response);
        
    }


}