/* Filename: ExampleComponent.razor
Part of Project: PLOT

File Purpose:
This is CSS that works specifically with the example blazor component. 

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Danielle Smith (2/4/2025) */
.modal-header {
    background-color: #489b97;
}

.modal-title {
    color: white;
}

.btn-close {
    filter: invert(1);
}
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Ensures it’s above other content */
  }
  
  /* Modal container */
  .Class {
    z-index: 1000; /* Make sure it’s above the overlay */
  }
