@inject IJSRuntime JS
@inject FixturesHttpClient FixturesHttpClient

@* Add Fixture Modal *@

<Modal @attributes="Attributes" SizeClass="modal-xl">
    <ModalHeader Title="Add Fixture" />
    <EditForm Model="AddFixtureModel" OnValidSubmit="async () => await OnAddFixtureSubmit()">

        <AddUpdateFixtureModalBody AddUpdateFixtureModel="AddFixtureModel" />

        <ModalFooter OnCancelClick="ClearAddFixtureModel">
            <Button class="btn add-btn ms-auto" Variant="primary" type="submit" data-bs-dismiss="modal">Add</Button>
        </ModalFooter>
    </EditForm>
</Modal>

@code {
    [Parameter] public EventCallback UpdateFixtureModels { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public required Dictionary<string, object> Attributes { get; set; }

    [Parameter] public required int StoreId { get; set; }

    [SupplyParameterFromForm] private Data.Models.Fixtures.CreateFixtureModel? AddFixtureModel { get; set; }

    private string LinearFeet = "";

    protected override void OnInitialized()
    {
        AddFixtureModel ??= new();
    }

    public async Task OnAddFixtureSubmit()
    {
        await Task.Run(() => Console.WriteLine("Add Fixture"));

        if (AddFixtureModel != null)
        {
            var response = await FixturesHttpClient.CreateFixtureModel(StoreId, AddFixtureModel);

            await UpdateFixtureModels.InvokeAsync();
        }

        ClearAddFixtureModel();
    }

    public void HandleLengthChange(ChangeEventArgs e)
    {
        // Parse Length - Send value if there is one, else send null
        int? Length = int.TryParse(e.Value?.ToString(), out int result) ? (int?)result : null;
        CalcLinearFeet(Length, AddFixtureModel!.WIDTH);
    }

    public void HandleWidthChange(ChangeEventArgs e)
    {
        // Parse Width - Send value if there is one, else send null
        int? Width = int.TryParse(e.Value?.ToString(), out int result) ? (int?)result : null;
        CalcLinearFeet(AddFixtureModel!.LENGTH, Width);
    }

    public void CalcLinearFeet(int? length, int? width)
    {
        // Calculates linear feet (length * width) and sets text of bound
        // LinearFeet variable to result, or empty if length
        // or width is not defined

        if (length.HasValue && width.HasValue)
        {
            LinearFeet = (length.Value * width.Value).ToString();
        }
        else
        {
            LinearFeet = "";
        }
        StateHasChanged();
    }

    private void ClearAddFixtureModel()
    {
        AddFixtureModel = new();
    }
}