@inject IJSRuntime JS
@inject FixturesHttpClient FixturesHttpClient

@* Add Fixture Modal *@

<Modal class="modal-xl fixture-modal" id="add-fixture" OnCancelClick="">
    <ModalHeader Title="Add Fixture" />
    <EditForm Model="AddFixtureModel" OnValidSubmit="OnAddFixtureSubmit">
        <ModalBody>
            <label class="w-100 d-flex my-2">
                <span class="mt-2 fw-bold">Name</span>
                <InputText @bind-value="AddFixtureModel!.NAME" class="form-control">Three Way Rack</InputText>
            </label>
            <div class="d-flex align-items-center w-100 gap-3 my-2">
                <label class="d-flex align-items-center flex-fill">
                    <span class="fw-bold me-2">Length</span>
                    <div class="flex-grow-1">
                        <InputNumber @bind-Value="AddFixtureModel!.LENGTH" class="form-control" />
                    </div>
                </label>

                <div class="d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-xmark fs-4"></i>
                </div>

                <label class="d-flex align-items-center flex-fill my-2">
                    <span class="fw-bold me-2">Width</span>
                    <div class="flex-grow-1">
                        <InputNumber @bind-Value="AddFixtureModel!.WIDTH" class="form-control" />
                    </div>
                </label>
            </div>

            <label class="w-100 d-flex my-2">
                <span class="fw-bold">Linear Feet Capacity</span>
                <InputNumber @bind-Value="AddFixtureModel!.LF_CAP" class="form-control" />
            </label>

            <label class="w-100 d-flex my-2">
                <span class="fw-bold">Linear Feet: @AddFixtureModel!.WIDTH * @AddFixtureModel!.LENGTH</span>
            </label>

            <ImageInput Label="Upload Image" Id="@($"ImageUpload-{StoreId}")" Height="300px"
                OnImageUpload="OnImageUpload" ImageSrc="ImageSrc" />
        </ModalBody>
        <ModalFooter OnCancelClick="ClearAddFixtureModel">
            <Button class="btn add-btn ms-auto" Variant="primary" type="submit" data-bs-dismiss="modal">Add</Button>
        </ModalFooter>
    </EditForm>
</Modal>

@code {

    [Parameter] public EventCallback UpdateFixtureModels { get; set; }

    [Parameter] public required int StoreId { get; set; }

    [SupplyParameterFromForm] private Data.Models.Fixtures.CreateFixtureModel? AddFixtureModel { get; set; }

    protected override void OnInitialized()
    {
        AddFixtureModel ??= new();
    }

    public async Task OnAddFixtureSubmit()
    {
        await Task.Run(() => Console.WriteLine("Add Fixture"));

        if (AddFixtureModel != null)
        {
            var response = await FixturesHttpClient.CreateFixtureModel(StoreId, AddFixtureModel);

            await UpdateFixtureModels.InvokeAsync();
        }

        ClearAddFixtureModel();
    }


    private async Task OnImageUpload(InputFileChangeEventArgs e)
    {
        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        var bytes = ms.ToArray();

        AddFixtureModel!.ICON = bytes;
    }

    private void ClearAddFixtureModel()
    {
        AddFixtureModel = new();
    }
}