@inject IJSRuntime JS
@inject FixturesHttpClient FixturesHttpClient

@* Add Fixture Modal *@

<Modal class="modal-xl fixture-modal" id="addFixture">
    <ModalHeader Title="Add Fixture" />
    <EditForm Model="AddFixtureModel" OnValidSubmit="OnAddFixtureSubmit">
        <ModalBody>
            <label class="w-100 d-flex">
                <span class="mt-2 fw-bold">Name</span>
                <InputText @bind-value="AddFixtureModel!.NAME">Three Way Rack</InputText>
            </label>
            <div class="row">
                <div class="col-md-5">
                    <label class="w-100 d-flex">
                        <span class="mt-2 fw-bold">Length</span>
                        <InputNumber @bind-Value="AddFixtureModel!.LENGTH" />
                    </label>
                </div>
                <div class="col-md-auto my-auto">
                    <i class="fa-solid fa-xmark mx-auto mt-4 ms-3"></i>
                </div>
                <div class="col-md-5">
                    <label class="w-100 d-flex">
                        <span class="mt-2 fw-bold">Width</span>
                        <InputNumber @bind-Value="AddFixtureModel!.WIDTH" />
                    </label>
                </div>
            </div>

            <label class="w-100 d-flex">
                <span class="mt-2 fw-bold">Linear Feet Capacity</span>
                <InputNumber @bind-Value="AddFixtureModel!.LF_CAP" />
            </label>

            <label class="w-100 d-flex">
                <span class="fw-bold">Linear Feet: @AddFixtureModel!.WIDTH * @AddFixtureModel!.LENGTH</span>
            </label>

            <InputFile @bind-Value="AddFixtureModel!.ICON" OnChange="OnImageUpload" />
        </ModalBody>
        <ModalFooter>
            <Button class="btn add-btn ms-auto" Variant="primary" type="submit" data-bs-dismiss="modal">Add</Button>
        </ModalFooter>
    </EditForm>
</Modal>

@code {

    [Parameter] public EventCallback UpdateFixtureModels { get; set; }

    [Parameter] public required int StoreId { get; set; }

    [SupplyParameterFromForm] private Data.Models.Fixtures.CreateFixtureModel? AddFixtureModel { get; set; }

    protected override void OnInitialized()
    {
        AddFixtureModel ??= new();
    }

    public async Task OnAddFixtureSubmit()
    {
        await Task.Run(() => Console.WriteLine("Add Fixture"));

        if (AddFixtureModel != null)
        {
            AddFixtureModel.STORE_TUID = StoreId;
            Console.WriteLine(AddFixtureModel);
            var response = await FixturesHttpClient.CreateFixtureModel(StoreId, AddFixtureModel);
            Console.WriteLine(response);

            await UpdateFixtureModels.InvokeAsync();
            ResetAddFixtureForm();
        }
    }


    private async Task OnImageUpload(InputFileChangeEventArgs e)
    {
        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        var bytes = ms.ToArray();

        AddFixtureModel!.ICON = bytes;
    }

    private void ResetAddFixtureForm()
    {
        Console.WriteLine("Resetting");
        AddFixtureModel = new Data.Models.Fixtures.CreateFixtureModel();
        StateHasChanged();
    }
}