@inject IJSRuntime JS
@inject FixturesHttpClient FixturesHttpClient

@* Add Fixture Modal *@

<Modal class="fixture-modal" id="addFixture" SizeClass="modal-lg">
    <ModalHeader Title="Add Fixture" />
    <EditForm Model="AddFixtureModel" OnValidSubmit="OnAddFixtureSubmit">
        <ModalBody>
            <div class="row">
                <div class="col-md-6">
                    <label class="w-100 d-flex">
                        <span class="mt-2 fw-bold">Name</span>
                        <InputText class="w-75 form-control ms-auto" @bind-value="AddFixtureModel!.NAME">Three Way Rack
                        </InputText>
                    </label>
                    <div class="row justify-content-between">
                        <div class="col-md-5">
                            <label class="w-100 d-flex flex-column align-items-center">
                                <div class="mt-2 fw-bold">Length</div>
                                <InputNumber class="w-100 form-control ms-auto" @bind-Value="AddFixtureModel!.LENGTH" />
                            </label>
                        </div>
                        <div class="col-md-auto my-auto">
                            <i class="fa-solid fa-xmark mx-auto mt-4 ms-3"></i>
                        </div>
                        <div class="col-md-5">
                            <label class="w-100 d-flex flex-column align-items-center">
                                <div class="mt-2 fw-bold">Width</div>
                                <InputNumber class="w-100 form-control ms-auto" @bind-Value="AddFixtureModel!.WIDTH" />
                            </label>
                        </div>
                    </div>

                    <label class="w-100 d-flex my-2">
                        <span class="mt-2 fw-bold">Linear Feet Capacity</span>
                        <InputNumber class="w-75 form-control ms-auto" @bind-Value="AddFixtureModel!.LF_CAP" />
                    </label>

                    <label class="w-100 d-flex">
                        <span class="fw-bold">Linear Feet: @(AddFixtureModel!.WIDTH * AddFixtureModel!.LENGTH)</span>
                    </label>


                </div>
                <div class="col-md-6">
                    <ImageInput Label="Upload Image" Height="300px" Id="add-fixtureimg" OnImageUpload="OnImageUpload" />
                </div>
            </div>
        </ModalBody>
        <ModalFooter>
            <Button class="btn add-btn ms-auto" Variant="primary" type="submit">Add</Button>
        </ModalFooter>
    </EditForm>
</Modal>

@code {

    [Parameter] public EventCallback UpdateFixtureModels { get; set; }

    [Parameter] public required int StoreId { get; set; }

    [SupplyParameterFromForm] private Data.Models.Fixtures.CreateFixtureModel? AddFixtureModel { get; set; }

    protected override void OnInitialized()
    {
        AddFixtureModel ??= new();
    }

    public async Task OnAddFixtureSubmit()
    {
        await Task.Run(() => Console.WriteLine("Add Fixture"));

        if (AddFixtureModel != null)
        {
            AddFixtureModel.STORE_TUID = StoreId;
            Console.WriteLine(AddFixtureModel);
            var response = await FixturesHttpClient.CreateFixtureModel(StoreId, AddFixtureModel);
            Console.WriteLine(response);

            await UpdateFixtureModels.InvokeAsync();
        }
    }


    private async Task OnImageUpload(InputFileChangeEventArgs e)
    {
        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        var bytes = ms.ToArray();

        AddFixtureModel!.ICON = bytes;
    }
}