
.dimension {
    width: 45%;
}

.img-input {
    justify-self: center;
    margin-top: 2rem;
}

.add-btn {
    background-color: var(--platos-blue);
    color: white;
}

.label-text {
    width: 75px; 
    min-width: 75px;
}

.input-field {
    flex: 1;
}