@inject IJSRuntime JS
@inject FixturesHttpClient FixturesHttpClient

@* Add Fixture Modal *@

<Modal class="modal-xl fixture-modal" id="add-fixture">
    <ModalHeader Title="Add Fixture" />
    <EditForm Model="AddFixtureModel" OnValidSubmit="OnAddFixtureSubmit">
        <ModalBody>
            <div class="w-100 d-flex flex-column gap-2">
                <label class="d-flex align-items-center">
                    <span class="mt-2 fw-bold label-text">Name</span>
                    <InputText class="w-100 input-field" @bind-value="AddFixtureModel!.NAME">Three Way Rack</InputText>
                </label>

                <div class="row d-flex align-items-center gx-0">
                    <div class="col-5">
                        <label class="d-flex align-items-center">
                            <span class="fw-bold label-text">Length</span>
                            <InputNumber class="form-control" @bind-Value="AddFixtureModel!.LENGTH" />
                        </label>
                    </div>
                    <div class="col-auto my-auto mx-4">
                        <i class="fa-solid fa-xmark mx-2"></i>
                    </div>
                    <div class="col-5">
                        <label class="d-flex align-items-center">
                            <span class="fw-bold label-text">Width</span>
                            <InputNumber class="form-control" @bind-Value="AddFixtureModel!.WIDTH" />
                        </label>
                    </div>
                </div>


                <label class="w-100 d-flex">
                    <span class="mt-2 fw-bold label-text">Linear Feet Capacity</span>
                    <InputNumber class="w-100 input-field" @bind-Value="AddFixtureModel!.LF_CAP" />
                </label>

                <label class="w-100 d-flex">
                    <span class="fw-bold">Linear Feet: @AddFixtureModel!.WIDTH * @AddFixtureModel!.LENGTH</span>
                </label>

                <InputFile OnChange="OnImageUpload" />
            </div>
        </ModalBody>
        <ModalFooter OnCancelClick="ClearAddFixtureModel">
            <Button class="btn add-btn ms-auto" Variant="primary" type="submit" data-bs-dismiss="modal">Add</Button>
        </ModalFooter>
    </EditForm>
</Modal>

@code {

    [Parameter] public EventCallback UpdateFixtureModels { get; set; }

    [Parameter] public required int StoreId { get; set; }

    [SupplyParameterFromForm] private Data.Models.Fixtures.CreateFixtureModel? AddFixtureModel { get; set; }

    protected override void OnInitialized()
    {
        AddFixtureModel ??= new();
    }

    public async Task OnAddFixtureSubmit()
    {
        await Task.Run(() => Console.WriteLine("Add Fixture"));

        if (AddFixtureModel != null)
        {
            var response = await FixturesHttpClient.CreateFixtureModel(StoreId, AddFixtureModel);

            await UpdateFixtureModels.InvokeAsync();
        }

        ClearAddFixtureModel();
    }


    private async Task OnImageUpload(InputFileChangeEventArgs e)
    {
        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        var bytes = ms.ToArray();

        AddFixtureModel!.ICON = bytes;
    }

    private void ClearAddFixtureModel()
    {
        AddFixtureModel = new();
    }
}