.my-2 {
    margin-right: 4.5rem;
}

.mt-2 {
    margin-right: 4.5rem;
}

.label-text {
    width: 80px;
    min-width: 80px;
}

.input-field {
    flex: 1;
}

.btn-circle {
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 64px;
}

.minus-badge {
    visibility: hidden;
}

.btn-circle:hover>.minus-badge {
    visibility: visible;
}

.z-index-override {
    z-index: 3 !important;
}