/* Originally by Tristan Calay */
/* .progress-area {
    background-color: white;
    padding: 5px;
    height: inherit;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;

} */

/* .inner-container {
    background-color: #f0f0f0;
    padding: .5rem;
    border-radius: .5rem; */
    /* Tristan Calay 4/1/2025 Remove height, use flex so sub components size properly */
    /* display: flex;
    flex-direction: column;
    height: 100%;
} */

/* ul { */
    /* Remove padding from the category list */
    /* padding-left: 0;
    margin-bottom: 0;
} */

/* Danielle Smith - 3/15/2025
class for the area with the progress bars to make them a scrollable area
with this and the height on inner-container, you now scroll the categories
without the buttons at the bottom ever getting lost */
/* .progress-area {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 70vh;
}

.category-separator {
    margin: 0.2rem;
    opacity: 0.1;
}

.search-button>button {
    color: black;
    background-color: transparent !important;
}

.text-input-container {
    flex-grow: 2;
} */