@inject StoresHttpClient StoresHttpClient

@using Plot.Components.PartialComponents.NumericInput

<EditForm Model="UpdateSizeStoreModel" class="walls-container" OnValidSubmit="OnUpdateSizeStoreSubmit">

    <h3 class="header pt-3">
        <i class="fas fa-edit"></i>
        Edit Building Walls
    </h3>
    <hr />
    <label>
        Dimensions
        <InputNumber @bind-value="UpdateSizeStoreModel!.LENGTH" />
        <InputNumber @bind-value="UpdateSizeStoreModel!.WIDTH" />
    </label>
    <label>Enter the Dimensions (length and width) in feet</label>

    @* Tristan Calay 4/2/25 - Added new employee area controls *@

    <div style="display: flex; flex-direction: column; row-gap: 16px;">
        <Button type="submit" Class="button-green" Variant="primary" Icon="fa-solid fa-check" TextAlignment="center">
            Apply
        </Button>

        <Button Class="button-green" Icon="fa-solid fa-brush" TextAlignment="center">
            Toggle Paint Employee Area
        </Button>

        <Button Class="button-green" Icon="fa-solid fa-eraser" TextAlignment="center">
            Toggle Erase Employee Area
        </Button>
    </div>
</EditForm>

@code {

    [Parameter] public required string StoreId { get; set; }

    [SupplyParameterFromForm] private Data.Models.Stores.UpdateSizeStore? UpdateSizeStoreModel { get; set; }

    private async Task OnUpdateSizeStoreSubmit()
    {
        if (UpdateSizeStoreModel != null)
        {
            await Task.Run(() => Console.WriteLine(UpdateSizeStoreModel));

            var response = await StoresHttpClient.UpdateStoreSize(Int32.Parse(StoreId), UpdateSizeStoreModel);

            Console.WriteLine(response);
        }
    }
}