@inject StoresHttpClient StoresHttpClient

@using Plot.Components.PartialComponents.NumericInput

<EditForm Model="UpdateSizeStoreModel" class="walls-container" OnValidSubmit="OnUpdateSizeStoreSubmit">

    <h3 class="header pt-3" onclick="ToggleBuildingWalls">
        <i class="fas fa-edit"></i>
        Edit Building Walls
    </h3>
    <hr />
    <label>
        Dimensions
        <InputNumber @bind-value="UpdateSizeStoreModel!.LENGTH" min="1"/>
        <InputNumber @bind-value="UpdateSizeStoreModel!.WIDTH" min="1"/>
    </label>
    <label>Enter the Dimensions (length and width) in feet</label>

    @* Tristan Calay 4/2/25 - Added new employee area controls *@

    <div style="display: flex; flex-direction: column; row-gap: 16px;">
        <Button type="submit" Class="button-green" Variant="primary" Icon="fa-solid fa-check" TextAlignment="center">
            Apply
        </Button>

        <Button Class="button-green" Icon="fa-solid fa-brush" TextAlignment="center">
            Toggle Paint Employee Area
        </Button>

        <Button Class="button-green" Icon="fa-solid fa-eraser" TextAlignment="center">
            Toggle Erase Employee Area
        </Button>
    </div>
</EditForm>

@code {

    [Parameter] public required int StoreId { get; set; }
    [Parameter] public EventCallback ToggleBuildingWalls { get; set; }

    [Parameter] public EventCallback UpdateStore { get; set; }

    [SupplyParameterFromForm] private Data.Models.Stores.UpdateSizeStore? UpdateSizeStoreModel { get; set; }

    private async Task OnUpdateSizeStoreSubmit()
    {
        if (UpdateSizeStoreModel != null)
        {

            await Task.Run(() => Console.WriteLine(UpdateSizeStoreModel));

            var response = await StoresHttpClient.UpdateStoreSize(StoreId, UpdateSizeStoreModel);

            Console.WriteLine(response);

            if (response == System.Net.HttpStatusCode.OK)
            {
                await UpdateStore.InvokeAsync();
            }
        }
    }

    protected override void OnInitialized()
    {
        UpdateSizeStoreModel ??= new();
    }

}