@inject IJSRuntime JS
@inject FixturesHttpClient FixturesHttpClient
@inject ToastService ToastService

@using Plot.Services

@* Edit Fixture Modal *@

<Modal @attributes="Attributes" SizeClass="modal-lg">
    <ModalHeader Title="Edit Fixture" />
    <EditForm Model="EditFixtureModel" OnValidSubmit="async () => await OnEditFixtureSubmit()">

        <AddUpdateFixtureModalBody AddUpdateFixtureModel="EditFixtureModel" FixtureId="FixtureId" />

        <ModalFooter OnCancelClick="ClearEditFixtureModel">
            <Button class="btn add-btn ms-auto" Variant="primary" type="submit" data-bs-dismiss="modal">Save</Button>
        </ModalFooter>
    </EditForm>
</Modal>

@code {
    [Parameter] public required Data.Models.Fixtures.FixtureModel Fixture { get; set; }

    [Parameter] public EventCallback UpdateFixtureModels { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public required Dictionary<string, object> Attributes { get; set; }
    [Parameter] public required int FixtureId { get; set; }
    [Parameter] public required int StoreId { get; set; }
    [SupplyParameterFromForm] private Data.Models.Fixtures.CreateFixtureModel? EditFixtureModel { get; set; } = new();

    protected override void OnParametersSet()
    {
        //if (Fixture != null)
        //{
        Console.WriteLine("Reached");
        EditFixtureModel = new Data.Models.Fixtures.CreateFixtureModel
        {

            NAME = Fixture.NAME!,
            WIDTH = Fixture.WIDTH!,
            LENGTH = Fixture.LENGTH!,
            LF_CAP = Fixture.LF_CAP!,
            STORE_TUID = Fixture.STORE_TUID!,
            ICON = Fixture.ICON,
        };
        //}
    }

    public async Task OnEditFixtureSubmit()
    {
        if (EditFixtureModel == null)
        {
            ToastService.ShowError("There was an error editing the fixture!");
            return;
        }
        await Task.Run(() => Console.WriteLine("Edit Fixture"));

        if (EditFixtureModel != null)
        {
            var response = await FixturesHttpClient.UpdateFixtureModel(FixtureId, EditFixtureModel);

            if (response != System.Net.HttpStatusCode.OK)
            {
                ToastService.ShowError("There was an error editing the fixture!");
            }
            else
            {
                await UpdateFixtureModels.InvokeAsync();
                ToastService.ShowSuccess("Your edits have been saved!");
            }
        }


        ClearEditFixtureModel();
    }

    private void ClearEditFixtureModel()
    {
        EditFixtureModel = new();
    }
}