@inject IJSRuntime JS
<!-- Author: Tristan Calay
The floorset fixture config modal allows right-click editing of a fixture on the floorset grid.
It allows changing the category, hanging, and notes of a fixture.
It also allows you to delete a fixture on the grid. -->
@* Add fixture edit modal to the floorset editor. - Tristan Calay *@
<div class="dropdown-menu">
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
  <a class="dropdown-item" href="#">Something else here</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">Separated link</a>
</div>

@code {
    private String fixtureName = "Default Fixture Title";
    private List<String> categoryInputValues = new List<String> { "Default Category" };
    private List<String> hangingInputValues = new List<String> { "Default Hanging" };

    private String notesText = "";

    private Data.Models.Fixtures.FixtureInstance? currentFixture;
    public void selectFixture(Data.Models.Fixtures.FixtureInstance selectedFixture)
    {
        currentFixture = selectedFixture;
        if (selectedFixture == null)
        {
            return;
        }
        @* else
        {
            fixtureName = selectedFixture.;
            //TODO: Change hanging, notes and category components here.
            Console.WriteLine("Fixture Selected: " + fixtureName);
        } *@
        StateHasChanged();
    }

    [Parameter] public required EventCallback<int> FixtureDeleted { get; set; }

    private void deleteCurrentFixture()
    {
        if (currentFixture != null)
        {
            Console.WriteLine("Delete Current Selected Fixture...");
            @* FixtureDeleted.InvokeAsync(currentFixture.editorID); *@
            JS.InvokeVoidAsync("toggleModal", "fixtureConfig", false);
        }
    }

    private void saveChangesToCurrentFixture()
    {
        //TODO: Send data to DB and fixture object.
        //currentFixture....
        //Need data from DB to exist in the fixture object first!
        Console.WriteLine("Save Changes Function...");
        JS.InvokeVoidAsync("toggleModal", "fixtureConfig", false);
    }
}