@* Add fixture edit modal to the floorset editor. *@
<Modal Title="Fixture Configuration" Id="fixtureConfig" Class="modal-dialog">
    <BodyContent>
        <h4>@fixtureName</h4>
        <OptionInput ID="categoryOption" Class="optionInput" iconString="fa-solid fa-bars" label="Select Category"
            optionsText=@categoryInputValues optionsValues=@categoryInputValues />

        <OptionInput ID="hangingOption" Class="optionInput" iconString="fa-solid fa-sign-hanging" label="Select Hanging"
            optionsText=@hangingInputValues optionsValues=@hangingInputValues />
        <hr>
        <TextInput Id="fixtureNotes" Label="Add Notes" Placeholder="Notes text..." Value=@notesText />
    </BodyContent>

    <FooterContent>
        <Button Variant="danger" OnClickFunction="deleteCurrentFixture">
            Delete Fixture
        </Button>
        <Button Variant="primary" OnClickFunction="saveChangesToCurrentFixture">
            Save Changes
        </Button>
    </FooterContent>
</Modal>

@code {
    private String fixtureName = "Default Fixture Title";
    private List<String> categoryInputValues = new List<String> { "Default Category" };
    private List<String> hangingInputValues = new List<String> { "Default Hanging" };

    private String notesText = "";

    private Fixture? currentFixture;
    public void selectFixture(Fixture selectedFixture)
    {
        currentFixture = selectedFixture;
        if (selectedFixture == null)
        {
            return;
        }
        else
        {
            fixtureName = selectedFixture.Name;
            //TODO: Change hanging, notes and category components here.
            Console.WriteLine("Fixture Selected: " + fixtureName);
        }
        StateHasChanged();
    }

    public void deleteCurrentFixture()
    {
        Console.WriteLine("Delete Current Selected Fixture...");
    }

    private void saveChangesToCurrentFixture()
    {
        //TODO: Send data to DB and fixture object.
        //currentFixture....
        Console.WriteLine("Save Changes Function...");
    }
}