@inject IJSRuntime JSRuntime

@using Plot.Data.Models.Fixtures
@using Plot.Services

<div id="@_containerId" class="position-absolute top-0 start-0">
</div>

<FixtureConfigModal FloorsetId="FloorsetId" FixtureInstance="FixtureInstance" />

@code {
    [Parameter] public required int FloorsetId { get; set; }
    private FixtureInstance? FixtureInstance { get; set; }

    private string _containerId = $"p5_{Guid.NewGuid():N}";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("window.initP5", _containerId);
        }
    }

    protected override void OnInitialized()
    {
        FloorsetEditorService.OnFixtureReceived = instance =>
        {
            FixtureInstance = instance;
            InvokeAsync(StateHasChanged);
        };
    }
}