html,
body {
    overflow: hidden; /* ? Removes extra wiggle room on application  */
}

::deep .add-fixture>button {
    background: var(--platos-blue);
    color: white;
    border: none;
    padding: 1rem;
}

::deep .Button.filter-btn {

    border: none;
    border-radius: 4px;
}

.fixture {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    align-items: center;
}

.fixture:hover {
    transition: 100ms;
    background-color: #d6d6d6;
}

/* Slide-out container with padding */
.slide-out {
    padding: 20px;
    /* Adds padding around the entire container */
}

/* Expanded container inside SlideOut */
.button-with-spacing {
    padding: 20px;
    /* Adds padding inside the expanded container */
}

.grab-cursor {
    cursor: grab;
}

.grid-cell {
    border: 1px solid #444;
    width: 49px;
    height: 49px;
}

#container {
    position: relative;
}