@using Microsoft.Net.Http.Headers
@using Plot.Components.PartialComponents.Modal

@inject SalesHttpClient SalesHttpClient

@*Import Excel File Modal Andrew Miller *@
<Modal id="importExcelModal" class="modal-dialog">
    <ModalHeader Title="Import Excel File" />
    <EditForm Model="ImportExcelFileModel" OnSubmit="async () => await OnImportExcelFileSubmit()"
        FormName="Import Excel File Form">
        <ModalBody>
            <label>
                Import an Excel File
                <InputFile @bind-value="ImportExcelFileModel!.EXCEL_FILE" />
            </label>
        </ModalBody>
        <ModalFooter>
            <Button TextAlignment="center" Variant="primary" type="submit" data-bs-dismiss="modal">
                Import
            </Button>
        </ModalFooter>
    </EditForm>
</Modal>

@code {
    [Parameter] public required string FloorsetId { get; set; }
    [SupplyParameterFromForm] private Data.Models.Allocations.UploadFile? ImportExcelFileModel { get; set; }

    protected override void OnInitialized()
    {
        ImportExcelFileModel ??= new();
    }

    private async Task OnImportExcelFileSubmit()
    {
        if (ImportExcelFileModel?.EXCEL_FILE != null)
        {
            var response = await SalesHttpClient.UploadSales(Int32.Parse(FloorsetId), ImportExcelFileModel!.EXCEL_FILE);
        }
    }
}
