@inject IJSRuntime JS

@using Plot.Components.PartialComponents.Button

<div class="toolbar-buttons">
    @*Edit Fixture Button *@
    <Button IsDisabled="false" Variant="primary" Icon="fa-solid fa-pen-to-square" OnClickFunction="editFixture"
        TextAlignment="center" />

    @*Paint Category Button *@
    <Button IsDisabled="false" Variant="@getPaintVariant()" Icon="fa-solid fa-brush" OnClickFunction="togglePaintClicked"
        TextAlignment="center" />

    @*Erase Category Button *@
    <Button IsDisabled="false" Variant="primary" Icon="fa-solid fa-eraser" OnClickFunction="eraseCategoryClicked"
        TextAlignment="center" />
</div>

@code {
    [Parameter] public required EventCallback ToggleAllocationsOpen { get; set; }

    @* Tristan Calay 3/30/25
    The paint mode button adds the return of getPaintClass() to its class when clicked.
    Track paint mode here.*@

    private bool paintModeEnabled = false;
    private String getPaintVariant()
    {
        if (paintModeEnabled)
        {
            return "primary";
        }
        return "secondary";
    }

    private async Task editFixture()
    {
        Console.WriteLine("Edit Fixture Function");
        await JS.InvokeVoidAsync("setPlace");
        await ToggleAllocationsOpen.InvokeAsync();
        @* allocationsOpen = false; *@
    }

    //The paintCategory button toggles the paint mode of the floorset editor.
    //It passes that information to the javascript.
    private async Task togglePaintClicked()
    {
        paintModeEnabled = !paintModeEnabled;
        Console.WriteLine("Toggle Paint Clicked: Now " + paintModeEnabled);
        await JS.InvokeVoidAsync("setPaintMode", paintModeEnabled);
        @* paintModeEnabled = !paintModeEnabled;
        Console.WriteLine("Paint Category Function - set paint mode to " + paintModeEnabled); *@
        @* await JS.InvokeVoidAsync("setPaintEnabled", paintModeEnabled); *@
        @* StateHasChanged(); *@
    }

    private async Task eraseCategoryClicked()
    {
        Console.WriteLine("Erase Category Function");
        await JS.InvokeVoidAsync("setErase");
        //Call the func in AllocationsSidebar to remove the styling of the selected category.
        @* if (allocationsSidebar != null)
        {
            allocationsSidebar.clearSelectedCategory();
        } *@
    }

    private void viewFulfillment()
    {
        Console.WriteLine("View Fulfillment Function");
    }

    private void editLayout()
    {
        Console.WriteLine("Edit Layout Function");
    }
}