<!-- Filename: Card.razor
Part of Project:-- PLOT
File Purpose:
Create a component to display and image and text as a Card
to be used as a template across The Program

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 
@ChildContent
Author: Josh Rodack (2/10/2025)-->

<div role="button" class="card border-0" style="width: 15rem;">
    @ChildContent
</div>

@code {
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
}