/* Filename: Card.razor.css
Part of Project: PLOT

File Purpose:
This is CSS that works specifically with the Card blazor component. 

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Josh Rodack (2/10/2025) */
.container{
    display:flex;
}

.img-card{
    height:235px;
    width:300px;
}
.col-sm{
    font-size:30px;
}