<!-- Filename: Card.razor
Part of Project:-- PLOT
File Purpose:
Create a component to display and image and text as a Card
to be used as a template across The Program

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 
@ChildContent
Author: Josh Rodack (2/10/2025)-->

<div class="card @Class border-0" id="@Id" style="width:300px;">
    <img class="card-img-top img-card" src="@CardImage" alt="Card image cap">
    <div class="card-body">
        <h3 class="card-content d-inline" style="font-weight: 600;">@CardText</h3>
        <span class="d-inline float-end">@ChildContent</span>
    </div>
</div>




@code {
    // all of these are parameters to set up the modal dynamically


    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Class { get; set; }


    [Parameter]
    public required string CardText { get; set; }

    [Parameter]
    public required string CardImage { get; set; }

    //dropdown component should be passed through this childcontent
    //parameter
    [Parameter]
    public required RenderFragment ChildContent { get; set; }

}