<p @attributes="Attributes" class="card-title @Class">@ChildContent</p>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; } = new
    Dictionary<string, object>();
    [Parameter] public required RenderFragment ChildContent { get; set; }

    private string? Class => Attributes.TryGetValue("class", out var val) ? val.ToString() : string.Empty;
}