<div @attributes="Attributes" class="card-body d-flex align-items-center gap-2 @Class">
    @ChildContent
</div>

@code {
    [Parameter] public required string Title { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; } = new
    Dictionary<string, object>();
    [Parameter] public required RenderFragment ChildContent { get; set; }

    private string? Class => Attributes.TryGetValue("class", out var val) ? val.ToString() : string.Empty;
}