/* Filename: Card.razor.css
Part of Project: PLOT

File Purpose:
This is CSS that works specifically with the Card blazor component. 

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Josh Rodack (2/10/2025) */
.container{
    display:flex;
}

/* This ensures the floorset thumbnails are fully displayed
    and not cut off. */
.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: contain !important;
    display: block;
}
