<!-- Filename: Card.razor
Part of Project:-- PLOT
File Purpose:
Create a component to display and image and text as a Card
to be used as a template across The Program

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Josh Rodack (2/10/2025)-->




<div class="Card @Class" id="@Id">

    <div class="container">
        <div class="row">
            <img src="@CardImage" class="img-card" />
            <div class="container">
                <div class="col-sm">
                    <p>@CardText</p>
                </div>
                <div class="col-sm">
                    @ChildContent
                </div>
                
            </div>
        </div>
    </div>

</div>


@code {
    // all of these are parameters to set up the modal dynamically


    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Class { get; set; }


    [Parameter]
    public required string CardText { get; set; }

    [Parameter]
    public required string CardImage { get; set; }

    //dropdown component should be passed through this childcontent
    //parameter
    [Parameter]
    public required RenderFragment ChildContent { get; set; }

}