@*
    Filename:- DateInput.razor
    Part of Project: Plot

    File Purpose:
    The purpose of this file is to create a date input element.

    Program Purpose:
    The purpose of PLOT is to allow users to easily create, manage,
    and allocate floorsets for Plato's Closet.

    Author: Andrew Kennedy (2/10/2025)
*@

@rendermode InteractiveServer
@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="DateInput @Class " id="@Id">
    <div class="form-floating mt-3 custom-date-wrapper">
        <input type="date" class="date-input form-control custom-date-input @invalidClass" 
                                                id="date-input" @onchange="HandleDateChange" />
        <i class="fa-regular fa-calendar custom-calendar-icon" @onclick="OpenDatePicker"></i>

        <label for="date-input" class="inner-date-label @invalidClass">
            @* If the date is valid, keep the label text the same *@
            @{string text = "";}
            @if (isValid) 
            {
                text = Label;
            }
            @* Otherwise, inform the user of the invalid date *@
            else 
            {
                text = "Invalid Date!";
            }
            @text
        </label>
    </div> 
    
    <label for="date-input" class="date-format-label">MM/DD/YYYY</label>
</div>

<script>
    window.openDatePicker = function () {
        document.querySelector("#date-input").showPicker();
    };
</script>

@code 
{
    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string Label { get; set; }

    // Used to send the date to the parent
    [Parameter]
    public EventCallback<DateOnly> ValueChanged { get; set; }   

    public DateOnly Value = DateOnly.FromDateTime(DateTime.Now);

    private DateTime selectedDateTime;

    private string invalidClass;

    private bool isValid = true;

    /* After the component receives its parameters, initialize the selectedDateTime */
    protected override void OnParametersSet()
    {
        selectedDateTime = Value.ToDateTime(TimeOnly.MinValue); // Convert DateOnly to DateTime
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) 
    {
        await ValueChanged.InvokeAsync(Value);
    }

    /*
        The HandleDateChange function sends the date to the parent whenever the
        user changes the input text.
    */
    private async Task HandleDateChange(ChangeEventArgs e)
    {
        // If the value successfully parses, initialize a new DateTime object
        if (DateTime.TryParse(e.Value?.ToString(), out DateTime newDateTime))
        {
            // If the date is later than the current date, it is considered invalid
            if (newDateTime.CompareTo(DateTime.Today) > 0) 
            {
                invalidClass = "error";
                isValid = false;
            }
            // Otherwise, send the date to the parent
            else 
            {
                invalidClass = "";
                isValid = true;
                selectedDateTime = newDateTime; 

                await ValueChanged.InvokeAsync(DateOnly.FromDateTime(newDateTime)); 
            }
            
        }

    }

    private void OpenDatePicker()
    {
        JS.InvokeVoidAsync("openDatePicker");
    }


}
