/* Filename: Button.razor.css
Part of Project: PLOT

File Purpose:
This is CSS that works specifically with the Button blazor component. 

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Josh Rodack (2/10/2025) */
.modal-header {
    background-color: var(--platos-blue);
}

.modal-title {
    color: white;
}

.btn-primary {
    color: #55B5B1
    
}
.btn-success{
    color: #3D9747
}
.btn-danger{
    color: #EF4444
}