/* Filename: PlotButton.razor.css
Part of Project: PLOT

File Purpose:
This is CSS that works specifically with the Button blazor component. 

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Josh Rodack (2/10/2025) */
.disabled-btn{
    cursor:not-allowed !important;
    /*pointer-events: hover !important;*/
    background-color: #00D900;
}
.btn-primary{
    background-color: #55B5B1;
}
.btn-success{
    background-color: #3D9747;
}
.btn-danger{
    background-color: #EF4444;
}

.text-start{
    text-align: start;
}
.text-center{
    text-align: center;
}
.text-end{
    text-align: end;
}
.icon{
    height:24px;
    height:50%;
}
.btn-element{
    margin:8px;
}
