<!-- Filename: Button.razor
Part of Project:-- PLOT
File Purpose:
Create a component to display a button and its various 
variants

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Josh Rodack (2/10/2025)-->



                <div class="Button @Class" id="@Id">
                <button class="btnType" disabled=@IsDisabled 
                onclick="@OnClickFunction"><i class=@Icon></i>> </button>
                
                </div>
          

@code {
    // all of these are parameters to set up the modal dynamically
    [Parameter]
    public string? Class {get; set;}

    [Parameter]
    public string? Id {get; set;}

    [Parameter]
    public string Variant {get; set;}
    
    [Parameter]
    public bool IsDisabled {get; set;}

    [Parameter]
    public string? Icon {get; set;}

    [Parameter]
    public string TextAllignment {get; set;}

    //[Parameter]
    //public Action OnClickParam {get; set;}

    public void OnClickFunction()
    {
        Console.WriteLine("Hello");
        //OnClickParam?.Invoke();
    }

}