@page "/test/button"

<h1>Test Button</h1>

<Button Class="Test Button" Id="buttonPrimary" Variant="primary" OnClickFunction="TestFunction"
    Icon="fa-solid fa-ellipsis" IsDisabled=false TextAlignment="center">
    Test Text 1
</Button>

<Button Class="Test Button" Id="buttonSuccess" Variant="success" OnClickFunction="TestFunction"
    Icon="fa-solid fa-download" IsDisabled=false TextAlignment="right">
    Test Text 2
</Button>

<Button Class="Test Button" Id="buttonDanger" Variant="danger" OnClickFunction="TestFunction" Icon="fa-solid fa-copy"
    IsDisabled=true TextAlignment="left">
    Test Text 3
</Button>

<section style="display: flex; flex-direction: row; gap: 16px; justify-content: space-between;">
    <Button Class="Test Button" Id="buttonInRow1" Variant="danger" OnClickFunction="TestFunction" Icon="fa-solid fa-copy"
    IsDisabled=true TextAlignment="center" />
    <Button Class="Test Button" Id="buttonInRow2" Variant="danger" OnClickFunction="TestFunction" Icon="fa-solid fa-copy"
    IsDisabled=true TextAlignment="center" />
    <Button Class="Test Button" Id="buttonInRow3" Variant="danger" OnClickFunction="TestFunction" Icon="fa-solid fa-copy"
    IsDisabled=true TextAlignment="center" />
    <Button Class="Test Button" Id="buttonInRow4" Variant="danger" OnClickFunction="TestFunction" Icon="fa-solid fa-copy"
    IsDisabled=true TextAlignment="center" />
    <Button Class="Test Button" Id="buttonInRow5" Variant="danger" OnClickFunction="TestFunction" Icon="fa-solid fa-copy"
    IsDisabled=true TextAlignment="center" />
</section>

<!-- To test that the icon changes appropriately when button is disabled or enabled -->
<!-- Button that can be toggled from enabled to disabled and vice versa -->
<Button Class="Test Button" Id="buttonIconTest" Variant="warning" OnClickFunction="TestFunction" Icon="fa-solid fa-copy"
IsDisabled=isIconBtnDisabled TextAlignment="center">
    Icon Test Button
</Button>

<!-- Toggles Icon Test Button between enabled and disabled -->
<Button Class="Test Button" Id="buttonIconTestToggle" Variant="warning" OnClickFunction="ToggleIconTestButton" Icon="fa-solid fa-copy"
IsDisabled=false TextAlignment="center">
    Toggle Icon Test Button
</Button>

@code
{
    private static bool isIconBtnDisabled = false;

    private void TestFunction()
    {
        Console.WriteLine("Function is Working");
    }

    // Toggles Icon Test Button
    private void ToggleIconTestButton(){
        isIconBtnDisabled = !isIconBtnDisabled;
    }
}