@page "/test/dropdown"

<h1>Test Page</h1>
<Dropdown Class="Test Dropdown" Id="123" DropdownText="@(new List<string> { "Youtube", "Google", "SVSU" })"
    DropdownLinks="@(new List<string> { "https://www.youtube.com/", "https://www.google.com/", "https://www.svsu.edu/" })"
    LabelText="Test Dropdown"
    DropdownIcons="@(new List<string> { "fa-solid fa-copy", "fa-solid fa-trash-can", "fa-solid fa-layer-group" })" />
