@* Originally by Andrew Kennedy *@
@page "/test/numeric-input"
@using Plot.Components.PartialComponents.NumericInput
@rendermode InteractiveServer

@* Danielle Smith - 3/17/2025
Made it so that this test page showcases two NumericInputs since we had a bug with that *@

<NumericInput Label="Dimensions" Placeholder="2ft" Description="Enter the Dimensions in feet"
    ValueChanged="@(str => NumberChanged(str, value => currentNumber1 = value))" Id="dimensions1" />

<NumericInput Label="Dimensions" Placeholder="2ft" Description="Enter the Dimensions in feet"
    ValueChanged="@(str => NumberChanged(str, value => currentNumber2 = value))" Id="dimensions2" />

<p>Number 1 is: @currentNumber1</p>
<p>Number 2 is: @currentNumber2</p>

@code {

    private double currentNumber1;
    private double currentNumber2;

    /* This function is called when the number is changed */
    private async Task NumberChanged(string strNumber, Action<double> setValue)
    {
        // String will be either a positive number or ""
        Double.TryParse(strNumber, out double newNumber);

        // Directly modify the referenced variable
        setValue(newNumber); // Number will be 0 if string is ""

        await InvokeAsync(StateHasChanged);
    }
}
