@page "/layout-testbed"
@using LayoutAllocations

<PageTitle>Layout Testbed</PageTitle>

<h1>Layout Testbed</h1>

<div class="row">
    <div class="col-sm-7">
        <h2>TODO Layout GUI</h2>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum iste reprehenderit atque in odit inventore adipisci nam aliquam debitis eos, aliquid corrupti modi sint dignissimos! Harum dolore voluptates asperiores deleniti!
    </div>
    <LayoutAllocations />
</div>

