@page "/allocations"
@rendermode InteractiveServer

<PageTitle>Allocations Editor</PageTitle>

<div class="row">
    <div class="col-sm-7">
        <FloorsetWindow />
    </div>
    <div class="col-sm-3">
        <AllocationsSidebar />
    </div>
</div>

