<!-- Filename: Index.razor
Part of Project: PLOT

File Purpose:
The purpose of this file is to showcase a blazor component being used on a page.

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Danielle Smith (2/4/2025) -->

@page "/index"

<PageTitle>Index</PageTitle>

<!-- Add Store Button -->
<button class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#addStoreModal">
    <i class="fa-solid fa-plus"></i> Add Store
</button>

<!-- Add Store Modal -->
<ExampleComponent Title="Add Store" ModalID="addStoreModal" ModalLabel="addStoreModalLabel" ModalSize="Large">
    <BodyContent>
        <h4>Modal content</h4>
        <p>Yippee</p>
    </BodyContent>

    <FooterContent>
        <button type="button" class="btn btn-danger text-white" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success text-white">Save changes</button>
    </FooterContent>
</ExampleComponent>