@page "/index"

<PageTitle>Index</PageTitle>

<!-- Add Store Button -->
<button class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#addStoreModal">
    <i class="fa-solid fa-plus"></i> Add Store
</button>

<!-- Add Store Modal -->
<ExampleComponent Title="Add Store" ModalID="addStoreModal" ModalLabel="addStoreModalLabel" ModalSize="Large">
    <BodyContent>
        <h4>Modal content</h4>
        <p>Yippee</p>
    </BodyContent>

    <FooterContent>
        <button type="button" class="btn btn-danger text-white" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success text-white">Save changes</button>
    </FooterContent>
</ExampleComponent>