@page "/store-dashboard"

<PageTitle>Store Dashboard</PageTitle>

<div class="row">
    <div class="col-md-3">
        <div class="card border-0">
            <img src="/img/placeholder_floorplan.png" class="card-img-top" alt="Flint Store Floorplan">
            <div class="card-body pt-2">
                <div class="row">
                    <h4 class="card-title fw-bolder">
                        Flint, MI
                        <i class="fa-solid fa-ellipsis float-end h-100" data-bs-toggle="dropdown"
                        aria-expanded="false" style="max-width:1.9vw"></i>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">Store Options</li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item">
                                    <i class="fa-solid fa-cubes"></i> Layouts
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item">
                                <!-- in the future this will just pull up the store modal that
                                already exists and populate it with the data instead of having 2 modals -->
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" data-bs-toggle="modal" 
                                data-bs-target="#confirmDeleteStoreModal">
                                    <i class="fa-solid fa-trash"></i> Delete
                                </a>
                            </li>
                        </ul>
                    </h4>                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Store Button -->
<button class="btn corner-btn" data-bs-toggle="modal" data-bs-target="#addStoreModal">
    <i class="fa-solid fa-plus"></i> Add Store
</button>

<!-- Add Store Modal -->
<ModalDialog Title="Add Store" ModalID="addStoreModal" ModalLabel="addStoreModalLabel" ModalSize="Large">
    <BodyContent>
        <h4>Add Store</h4>
        <p>Add a new store with it's unique blueprint.</p>
        <div class="row">
            <div class="col-md-6">
                <!-- name / location inputs -->
                <div class="row">
                    <div class="col-2">
                        <label for="storeName" class="col-form-label">Name</label>
                    </div>
                    <div class="col-10">
                        <input type="text" id="storeName" class="form-control">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-2">
                        <label for="storeLocation" class="col-form-label">Location</label>
                    </div>
                    <div class="col-10">
                        <input type="text" id="storeLocation" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- drag/drop file input -->
                <div class="container">
                    <div class="drag-drop-box" id="dragDropArea">
                        <h5 class="text-decoration-underline my-auto text-center">
                            <i class="fa-solid fa-image"></i> Store Blueprint Image
                        </h5>
                        <input type="file" id="storeBlueprint" class="d-none">
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <h4 class="my-3">Employees</h4>
                <div class="row">
                    <div class="col-2">
                        <h3 class="employee-circle-btn text-center mx-auto my-0 fw-normal" style="font-size: 32px;">+</h3>
                        <p class="my-2 text-center">Add Employee</p>
                    </div>

                    <!-- in the future this can be a foreach loop of employees -->
                    <div class="col-2">
                        <h3 class="employee-circle-btn text-center mx-auto my-0 fw-normal">JD</h3>
                        <p class="my-2 text-center">Jane Doe</p>
                    </div>
                    <div class="col-2">
                        <h3 class="employee-circle-btn text-center mx-auto my-0 fw-normal">MS</h3>
                        <p class="my-2 text-center">Mary Smith</p>
                    </div>
                    <div class="col-2">
                        <h3 class="employee-circle-btn text-center mx-auto my-0 fw-normal">JS</h3>
                        <p class="my-2 text-center">James Smith</p>
                    </div>
                </div>
            </div>
        </div>
    </BodyContent>

    <FooterContent>
        <button type="button" class="btn cancel-red text-white" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn platos-blue text-white">Save changes</button>
    </FooterContent>
</ModalDialog>

<!-- Delete Store Modal -->
<ModalDialog Title="Confirm Deletion" ModalID="confirmDeleteStoreModal" 
ModalLabel="confirmDeleteStoreModalLabel" ModalSize="">
    <BodyContent>
        <h4>Are you SURE you want to delete this store?</h4>
        <p>If so, type DELETE below.</p>
        <input type="text" id="confirmDelete" class="form-control" placeholder="Type DELETE here">
    </BodyContent>

    <FooterContent>
        <button type="button" class="btn cancel-red text-white" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn platos-blue text-white">Yes, Delete</button>
    </FooterContent>
</ModalDialog>