@*
File Purpose:
Add User Modal for adding users to database,
and calling the UserDashboard component
to update information on the User Dashboard.

Information that is added includes: first name,
last name, email, role, and store access.

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

*@

@inject AuthHttpClient AuthHttpClient
@inject StoresHttpClient StoresHttpClient
@inject UsersHttpClient UsersHttpClient
@inject IJSRuntime JS
@inject ToastService ToastService

@using Plot.Services
@using Microsoft.JSInterop

<Modal class="modal-dialog modal-xl user-modal user-info-modal" SizeClass="modal-xl" @attributes="Attributes">
    <ModalHeader Title="Add User" />

    <EditForm Model="AddUserModel" OnValidSubmit="() => OnAddUserSubmit()">

        <DataAnnotationsValidator />

        <AddUpdateUserModalBody AddUpdateUserModel="AddUserModel" AssignedStores="AddUserStores"
            UnassignedStores="NotAddUserStores" SignalParentAssignedStoresChanged="HandleUserStoresChange"
            SignalParentUnassignedStoresChanged="HandleNotUserStoresChange" OnInit="HandleBodyInit"
            DisableSubmitInParent="DisableSubmitFromChild" @ref="modalBodyRef" />
        <ModalFooter OnCancelClick="ClearAddUserModal">
            <Button Variant="primary" TextAlignment="center" type="submit" data-bs-dismiss="modal"
                disabled="@IsSubmitDisabled">
                Submit
            </Button>
        </ModalFooter>
    </EditForm>

</Modal>

<script>
// Gets instance of modal. This was put here as part of enabling the functionality of the Load Message modal.
// This does not appear to be in use in the current implementation but as of (4/28/2025) deadline is
// tomorrow (4/29/2025) so I'm leaving this in just in case. - Andrew Miller
    window.getModalInstance = function (selector) {
        return window.bootstrap.Modal.getOrCreateInstance(document.querySelector(selector));
    };
</script>

@code {

    /// <summary>
    /// Attributes dictionary parameter
    /// </summary>
    [Parameter(CaptureUnmatchedValues = true)] public required Dictionary<string, object> Attributes { get; set; }

    /// <summary>
    /// Model used for updating information on user first name, last name, email, and role in the database
    /// </summary>
    [SupplyParameterFromForm] private Data.Models.Users.UpdatePublicInfoUser? AddUserModel { get; set; }

    /// <summary>
    /// Model representing the user and data associated with the user
    /// </summary>
    [Parameter] public required Data.Models.Users.UserDTO? User { get; set; }

    /// <summary>
    /// Update Users callback for rerendering UserDashboard
    /// </summary>
    [Parameter] public required EventCallback UpdateUsers { get; set; }

    /// <summary>
    /// Callback to show loading modal
    /// </summary>
    [Parameter] public EventCallback<string> ShowLoadingModal { get; set; }

    /// <summary>
    /// Callback to hide loading modal
    /// </summary>
    [Parameter] public EventCallback<string> HideLoadingModal { get; set; }

    /// <summary>
    /// Constant for New user - Indicates new user when initializing stores
    /// </summary>
    private const int NEW_USER = 0;

    /// <summary>
    /// Flags that the AddUpdateUserModalBody has been initialized
    /// </summary>
    private bool modalBodyInit = false;

    /// <summary>
    /// Determines if submit button is disabled
    /// </summary>
    private bool IsSubmitDisabled = false;

    /// <summary>
    /// Reference for AddUpdateUserModalBody component
    /// </summary>
    public AddUpdateUserModalBody? modalBodyRef;

    /// <summary>
    /// List of stores the user has access to
    /// </summary>
    public List<Data.Models.Stores.Store> AddUserStores = new();

    /// <summary>
    /// List of stores the user does not have access to
    /// </summary>
    public List<Data.Models.Stores.Store> NotAddUserStores = new List<Data.Models.Stores.Store>();

    /// <summary>
    /// Data Model for getting user from email
    /// </summary>
    public Data.Models.Users.UserDTO? UserFromEmail { get; set; }

    /// <summary>
    /// Updates UpdateUserModel on initialization from User's data
    /// </summary>
    /// <param name=""> no parameters taken </param>
    /// <returns> void </returns>
    protected override async Task OnInitializedAsync()
    {
        AddUserModel ??= new() // Iniitalize AddUserModel with Role of "Employee"
        {
            ROLE_NAME = "Employee"
        };

        //Get a list of all the stores
        var response = await StoresHttpClient.GetListOfStores();

        if (response != null)
        {

            NotAddUserStores = response;
        }
        else
        {
            ToastService.ShowError("Couldn't get stores!");
        }
    }

    /// <summary>
    /// Initializes stores after render if the AddUpdateUserModalBody
    /// has been initialized and it hasn't already initialized stores
    /// </summary>
    /// <param name="firstRender"> Built-in parameter refers to whether render is the first render </param>
    /// <returns> void </returns>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!modalBodyInit)
        {
            if (modalBodyRef != null)
            {
                await modalBodyRef!.InitUserStores(NEW_USER);
                modalBodyInit = true;
            }
        }
    }

    /// <summary>
    /// For being called by the child component to signal
    /// that it has been initialized
    /// </summary>
    /// <param name=""> no parameters taken </param>
    /// <returns> void </returns>
    public void HandleBodyInit()
    {
        // When modal body is initiated, the AddUpdateUserModalBody.razor
        // file calls this
        if (modalBodyRef != null)
        {
            modalBodyRef?.StateHasChangedFromParent();
        }

        StateHasChanged();
    }

    /// <summary>
    /// Runs when new user is submitted via submit button for form in this modal
    /// </summary>
    /// <param name=""> no parameters taken </param>
    /// <returns> void </returns>
    private async Task OnAddUserSubmit()
    {
        // When Submit is clicked in this modal:

        // Put up Loading modal
        await ShowLoadingModal.InvokeAsync();

        // Create user registration model
        Data.Models.Auth.Registration.UserRegistration registration = new Data.Models.Auth.Registration.UserRegistration
        {
            EMAIL = AddUserModel!.EMAIL,
            FIRST_NAME = AddUserModel!.FIRST_NAME,
            LAST_NAME = AddUserModel!.LAST_NAME,
            ROLE_NAME = AddUserModel!.ROLE_NAME
        };

        // Register the user
        await AuthHttpClient.Register(registration);

        // Get user from email
        Data.Models.Users.UserDTO? UserFromEmail;

        if (registration.EMAIL != null)
        {
            UserFromEmail = await UsersHttpClient.GetUserByEmail(registration.EMAIL);

            // Update user access in database
            if (UserFromEmail != null)
            {
                await UsersHttpClient.UpdateAccessList(
                new Data.Models.Users.UpdateAccessListRequest
                {
                    USER_TUID = UserFromEmail!.TUID,
                    STORE_TUIDS = AddUserStores.Select(store => store.TUID)
                });
            }
            else
            {
                ToastService.ShowError("There was an error adding the user!");
            }
        }
        else
        {
            ToastService.ShowError("There was an error adding the user!");
        }

        // Clear Modal
        await ClearAddUserModal();

        // Hide loading modal
        await HideLoadingModal.InvokeAsync();

        // Update user dashboard
        await UpdateUsers.InvokeAsync();
        ToastService.ShowSuccess("The user was created.");
    }

    /// <summary>
    /// Clears the Add User Modal
    /// </summary>
    /// <param name=""> no parameters taken </param>
    /// <returns> void </returns>
    public async Task ClearAddUserModal()
    {
        // Clear add user modal

        // New Add User model
        AddUserModel = new()
        {
            ROLE_NAME = "Owner"
        };

        // Reinitialize user stores
        await modalBodyRef!.InitUserStores(NEW_USER);
    }

    /// <summary>
    /// Handles change in user stores within modal
    /// </summary>
    /// <param name="NewUpdateUserStores"> List<Data.Models.Stores.Store> New list of models reflecting stores user has </param>
    /// <returns> void </returns>
    public void HandleUserStoresChange(List<Data.Models.Stores.Store> NewAddUserStores)
    {
        AddUserStores = NewAddUserStores;
    }

    /// <summary>
    /// Handles change in not user stores within modal
    /// </summary>
    /// <param name="NewNotAddUserStores"> List<Data.Models.Stores.Store> New list of models reflecting stores use does not have </param>
    /// <returns> void </returns>
    public void HandleNotUserStoresChange(List<Data.Models.Stores.Store> NewNotAddUserStores)
    {
        NotAddUserStores = NewNotAddUserStores;
    }

    /// <summary>
    /// Disables submit from child component - from AddUpdateUserModalBody.razor.
    /// Needed for when stores are moved between select boxes
    /// </summary>
    /// <param name=isDisabled""> Determines if is submit is disabled.</param>
    /// <returns> void </returns>
    public void DisableSubmitFromChild(bool isDisabled)
    {
        IsSubmitDisabled = isDisabled;
    }
}