@*
File Purpose:
Delete User Modal for deleting users.

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

*@

@inject UsersHttpClient UsersHttpClient
@inject ToastService ToastService

@using Plot.Services

<Modal class="standard"
Backdrop="static" Keyboard="false"
@attributes="Attributes"
>
    <ModalHeader Title="Confirm Deletion" Variant="danger" />
    <form @onsubmit="async () => {
        await OnDeleteUserSubmit(userTuid);
        deleteTextInput = string.Empty;}">
        @code {
            private string? deleteTextInput;
            private bool isDisabled => deleteTextInput != "DELETE";
        }

        @* Ask if user (using dashboard) wants to delete employee*@
        <ModalBody>
            <h2>Are you SURE you want to delete this user?</h2>
            <input class="form-control w-100" type="text" placeholder="If so, type DELETE below" required
                pattern="DELETE" @bind-value="deleteTextInput" @bind-value:event="oninput" />
        </ModalBody>

        <ModalFooter>
            <Button Class="Button" TextAlignment="center" Variant="primary" type="submit" disabled="@isDisabled"
                data-bs-dismiss="modal">
                Yes, Delete
            </Button>
        </ModalFooter>
    </form>
</Modal>

@code {
    /// <summary>
    /// TUID of user this delete user modal pertains to
    /// </summary>
    [Parameter] public required int userTuid { get; set; }

    /// <summary>
    /// Update Users callback for rerendering UserDashboard
    /// </summary>
    [Parameter] public required EventCallback UpdateUsers { get; set; }

    /// <summary>
    /// Attributes dictionary parameter
    /// </summary>
    [Parameter(CaptureUnmatchedValues = true)] public required Dictionary<string, object> Attributes { get; set; }

    /// <summary>
    /// When submit button is pressed - Delete the user
    /// </summary>
    /// <param name=""> no parameters taken </param>
    /// <returns> void </returns>
    private async Task OnDeleteUserSubmit(int userId)
    {
        // Call backend to signal database to delete user
        var response = await UsersHttpClient.DeleteUserById(userId);

        if(response != System.Net.HttpStatusCode.OK) {
            ToastService.ShowError("There was an error deleting the user!");
        } else {
            ToastService.ShowSuccess("The user was deleted.");
        }

        // Update User Dashboard
        await UpdateUsers.InvokeAsync();
    }
}