/* Filename: PlotButton.razor.css
Part of Project: PLOT

File Purpose:
This is CSS that works specifically with the Users page. 

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Josh Rodack (2/10/2025) */

/* For the original button <button></button> component*/
.btn-primary {
    background-color: var(--platos-blue) !important;
    border: none;

}

/* Andrew  Miller - (3/22/2025) */

/* User dashboard */

/* Table columns */

.user-dashboard{
    display: flex;
    flex-direction: column;
    height: 90vh;
    box-sizing: border-box;
}

.table-set{
    flex-grow:1;
    height: 95%;
    overflow:auto;
}

.add-btn-container{
    align-self: flex-end;
    display: flex;
    margin:0px;
}

.add-btn {
    align-self: flex-end;
    width: calc(50/16 * 1rem);
    margin:0px;
    padding:0px;
}

.name_column {
    width: 20%;
}

.id_column {
    width: 20%;
}

.role_column {
    width: 60%;
}

/* Behind role lable in table*/
.role-box {
    background-color: lightgray;
    border-radius: 5px;
}

