/* Filename: PlotButton.razor.css
Part of Project: PLOT

File Purpose:
This is CSS that works specifically with the Users page. 

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Josh Rodack (2/10/2025) */

/* For the original button <button></button> component*/
.btn-primary {
    background-color: var(--platos-blue) !important;
    border: none;

}

/* Andrew  Miller - (3/22/2025) */

/* User dashboard */

/* Table columns */

.user-dashboard{
    display: flex;
    flex-direction: column;
    height: 90vh;
    box-sizing: border-box;
}

.table-set{
    flex-grow:1;
    height: 95%;
    overflow:auto;
}

.add-btn-container{
    align-self: flex-end;
    display: flex;
    margin:0px;
    height:10%;
}

.add-btn {
    align-self: flex-end;
    width: calc(50/16 * 1rem);
    margin:0px;
    padding:0px;
    width:100%;
}

.name_column {
    width: 20%;
}

.id_column {
    width: 20%;
}

.role_column {
    width: 60%;
}

/* Behind role lable in table*/
.role-box {
    background-color: lightgray;
    border-radius: 5px;
}

/*  Andrew Miller: Taken from StoreDashboard.razor.css (3/22/2025)
    Original Author: Andrew Fulton */
/* CSS used to fix the button in the bottom right */
.fixed-bottom-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 60px;
    background-color: transparent;
    border: none;
    text-align: center;
    z-index: 1000;
    /* Ensure it's on top */
}

