/* Filename: PlotButton.razor.css
Part of Project: PLOT

File Purpose:
This is CSS that works specifically with the Users page. 

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Josh Rodack (2/10/2025) */

/* Andrew  Miller - (3/22/2025) */

/* User dashboard */

.user-dashboard {
    display: flex;
    flex-direction: column;
    height: 90vh;
    box-sizing: border-box;
}

/* Table in user dashboard */
.table-set {
    flex-grow: 1;
    height: 95%;
    overflow: auto;
}

/* Container div for Add User button */
.add-btn-container {
    align-self: flex-end;
    display: flex;
    margin: 0px;
}

/* Add User button */
.add-btn {
    align-self: flex-end;
    width: calc(50/16 * 1rem);
    margin: 0px;
    padding: 0px;
}