/* Filename: Modal.razor.css
Part of Project: PLOT

File Purpose:
This is CSS that works specifically with the modal component. 

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Danielle Smith (2/9/2025) */


.modal-title {
    color: white;
}

.btn-close {
    filter: invert(1);
}