<!-- Filename: Modal.razor
Part of Project: PLOT

File Purpose:
The purpose of this file is be a resubable modal component throughout
the PLOT application. The title, ID, icon, color, body content,
and footer buttons can be set dynamically through parameters.
All modals will have a cancel button to close the modal.

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Danielle Smith (2/9/2025) 

Author: Andrew Miller (3/19/2025) - Added OnCancelFunction 
parameter to specify a method to run when the cancel button is clicked.
- (3/24/2025): Added OnCancelFunction parameter ot "x" button

Author: Andrew Kennedy (4/4/2025) - Added IsStatic parameter
when true, modal does not close when user clickes outside or presses esc
-->

<div class="modal @Class fade" tabindex="-1" data-bs-backdrop="true" data-bs-focus="false" data-bs-keyboard="true"
    @attributes="Attributes">
    <div class="modal-dialog @SizeClass Modal">
        <div class="modal-content border-0">
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; } = new Dictionary<string, object>();

    [Parameter] public string? SizeClass { get; set; }

    private string? Class => Attributes.TryGetValue("class", out var val) ? val.ToString() : string.Empty;

    protected override void OnParametersSet()
    {
        Attributes.Remove("class");
    }
}