<Modal Title="Add User" Id="addUserModal" Variant="success" Class="standard modal-dialog">
    <BodyContent>
        <h1>Create User</h1>
        <p>Add a new user to be added to the system.</p>
        <TextInput Id="FirstName" Label="First Name" Placeholder="First Name" Value="@firstname"/>
        <TextInput Id="LastName" Label="LastName" Placeholder="Last Name" Value="@lastname"/>
        <TextInput Id="Email" Label="Email" Placeholder="Email" Value="@email" />
        
        <!-- Dropdowns -->

        <!-- Role Dropdown -->
        <Dropdown></Dropdown>

        <!-- Store Dropdown -->
        <Dropdown></Dropdown>

        <img src="/img/platos_closet_logo.png">
    </BodyContent>

    <!-- To do: Footer Buttons -->
    <FooterContent>
    </FooterContent>
</Modal>

