@page "/UsersComponents/DeleteUser"

<Modal Title="Confirm Deletion" Id="confirmDeleteModal" Variant="success" Icon="fa-solid fa-check" Class="standard modal-dialog">
    <BodyContent>
        <h1>Are you SURE you want to delete this user?</h1>
        <TextInput Id="deleteTextInput" Label="If so, type DELETE here" Placeholder="Type DELETE here" Value="@delete"/>

    </BodyContent>

    <!-- To do: Footer Buttons -->
    <FooterContent>

    </FooterContent>

</Modal>