@* Originally written by Tristan Calay  *@

@* Danielle Smith - 3/17/2025
I changed how it handles the alignment when there is not an icon  *@

@* Andrew Miller - 3/19/2025
Created OnSelectFunction parameter to determine a method that fires 
when an option is selected. Adapted OnSelectFunc method to check
if a method is specified and handle asynchronous methods
with InvokeAsync. Passes value in option as argument string 
to specified method.

3/29/2025
Added Multiple and AllowEmpty parameters.

Added error handling to prevent OnSelectFunction usage
with Multiple parameter as true
*@
<div @attributes="Attributes" class="OptionInput @Class">
    @ChildContent
</div>

@code
{
    //Custom string to add to this item's HTML class
    [Parameter]
    public String? Class { get; set; }

    //Insert this string as markup to space elements correctly, when no icon is specified.
    @* private String _blankIcon = """<i class="col-auto fa-solid fa-square fa-fw" style="opacity: 0%;"></i>"""; *@

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)] public required Dictionary<string, object> Attributes { get; set; }
}