@* Front end by Luke Wollenweber *@
@* Hook up to database by Michael Polhill *@
@* Updated by Danielle Smith 4/1/2025 *@

@* @attribute [AllowAnonymous] *@
@page "/login"
@layout Plot.Components.Layout.LoginLayout
@using Microsoft.AspNetCore.Authentication
@using System.Net.Http.Headers
@using System.Security.Claims
@using Plot.Services
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]
@inject NavigationManager Navigation
@inject AuthHttpClient AuthHttpClient
@inject ICookie cookie



<PageTitle>Login</PageTitle>

<body class="background">
    <main>
        <EditForm class="d-flex flex-column gap-3 bg-white p-5 rounded-2" EditContext="LoginEditContext"
            OnValidSubmit="OnLoginSubmit">
            <DataAnnotationsValidator />
            <img src="img/PlatoLogo.png" alt="Plato's closet logo">
            <h1 class="fs-2 text-center">
                <span>Welcome to PLOT,</span>
                <br />
                <span>Plato's Layout Optimization Tool</span>
            </h1>
            <p class="text-center">Please log in to your account to continue</p>
            @* Danielle Smith - 3/16/2025
                gave better ids and added some margin on the forgot password link *@
            <div class="form-group">
                <label for="email" class="w-100">
                    Email:
                    <InputText id="email" class="form-control" type="email" @bind-Value="LoginModel!.EMAIL" />
                    <div class="text-danger">
                        <ValidationMessage For=@(() => LoginModel.EMAIL) />
                    </div>
                </label>
            </div>
            <div class="form-group">
                <label for="password" class="w-100">
                    Password:
                    <InputText id="password" class="form-control" type="password" @bind-Value="LoginModel!.PASSWORD" />
                </label>
                <ValidationMessage For=@(() => LoginModel.PASSWORD) />
            </div>
            <Link Id="link" Class="mb-3" Url="/password-reset-request">Forgot Password?</Link>
            <div class="d-flex justify-content-center">
                <Button Class="w-25" Variant="primary" Icon="fa-solid fa-right-to-bracket" type="submit"
                    TextAlignment="center">
                    Log in
                </Button>
            </div>
        </EditForm>
    </main>
</body>

@code
{
    private EditContext? LoginEditContext;

    [SupplyParameterFromForm]
    private Data.Models.Auth.Login.LoginRequest? LoginModel { get; set; }

    protected override void OnInitialized()
    {
        LoginModel ??= new();
        LoginEditContext = new(LoginModel);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var token = await cookie.GetValue("Auth");

        if (token != null && token != string.Empty) Navigation.NavigateTo("/store-dashboard", forceLoad: true);
    }

    private async Task OnLoginSubmit()
    {
        if (LoginModel != null)
        {
            var token = await AuthHttpClient.LoginAsync(LoginModel);

            Console.WriteLine(token);

            if (token != null)
            {
                
                await cookie.SetValue("Auth", token.Token);
            }
        }
    }
}