<!-- Filename: Login.razor
Part of Project:-- PLOT
File Purpose:
A login Page that the username hits first when using PLOT

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Luke Wollenweber (3/19/2025)-->
@page "/login"

@inject NavigationManager Navigation

<PageTitle>Login</PageTitle>

<body class="background">
    <div class="login">
        <div class="body-content">
            <img src="img/PlatoLogo.png" alt="Plato's closet logo">
            <h4>Welcome to PLOT, </h4>
            <h4>Plato's Layout Optimization Tool</h4>
            <p>Please log in to your account to continue</p>
            @* Danielle Smith - 3/16/2025
                gave better ids and added some margin on the forgot password link *@
            <TextInput Id="username" Type="text" Label="Username" Placeholder="" Value="@username"
                ValueChanged="@(e => username = e)" />
            <TextInput Id="password" Type="password" Label="Password" Placeholder="" Value="@password"
                ValueChanged="@(e => password = e)" Class="masked" />
            <Link Id="link" Class="mb-3" Url="/recover_password">Forgot Password?</Link>
            <Button Class="Button" Id="buttonLogin" Variant="primary" OnClickFunction="ValidateInput" Icon=""
                IsDisabled=false TextAlignment="center">
                Log in
            </Button>
        </div>
        <div class="footer-content">
            @if (isInvalid)
            {
                <p style="color: red; font-weight: bold;">Incorrect Email or Password</p>
            }
        </div>
    </div>
</body>

@code
{
    //username and password strings
    string username = "";
    string password = "";
    //boolean variable to track whether the input is valid
    bool isInvalid = false;
    //this method is called to check whether the input is valid or not
    private void ValidateInput()
    {
        //this is temporary code as we don't have a backend hooked up yet
        if (username == password)
        {
            //udpates boolean to false to show that the data isn't invalid
            isInvalid = false;
            //navigates to the home page and forceloads
            Navigation.NavigateTo("/home", forceLoad: true);
            /* Danielle Smith - 3/16/2025
            added force load to this so that the page
            actually reloads and loads the new styles */
        }
        else
        {
            //invalid set to true so the validation fires on the screen
            isInvalid = true;
        }
    }
}
